{% style %}
  .breadcrumbs__list {
    list-style-type: none;
  }

  .breadcrumbs__item {
    display: inline-block;
    margin-right: 15px;
  }

  .breadcrumbs__item:not(:last-child):after {
    content: "";
    display: inline-block;
    width: 15px;
    height: 9px;
    margin: 0 8px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='15' height='9' viewBox='0 0 15 9' fill='none'><g clip-path='url(%23clip0_6332_1753)'><path d='M13.5938 4.75355C13.789 4.55829 13.789 4.24171 13.5938 4.04645L10.4118 0.864464C10.2165 0.669202 9.89996 0.669202 9.7047 0.864464C9.50943 1.05973 9.50943 1.37631 9.7047 1.57157L12.5331 4.4L9.7047 7.22843C9.50943 7.42369 9.50943 7.74027 9.7047 7.93553C9.89996 8.1308 10.2165 8.1308 10.4118 7.93553L13.5938 4.75355ZM0.240234 4.9H13.2402V3.9H0.240234V4.9Z' fill='black'/></g><defs><clipPath id='clip0_6332_1753'><rect width='14' height='8' fill='white' transform='translate(0.240234 0.400024)'/></clipPath></defs></svg>");
  }

  .breadcrumbs__link {
    color: #000;
    text-align: center;
    font-family: var(--font-primary);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 22.5px */
    letter-spacing: 0.5px;
    text-decoration: unset;
  }
  .breadcrumbs__link:hover {
    text-decoration: underline;
  }

  .breadcrumbs__link[aria-current="page"] {
    color: inherit;
    font-weight: normal;
    text-decoration: none;
  }

  .breadcrumbs__link[aria-current="page"]:hover,
  .breadcrumbs__link[aria-current="page"]:focus {
    text-decoration: underline;
  }
  .breadcrumbs__item > span.active {
    color: var(--red-primary);
    text-align: center;
    font-family: var(--font-primary);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 22.5px */
    letter-spacing: 0.5px;
  }
  @media (max-width: 749px) {
    .breadcrumbs {
      display: none;
    }
  } 
{%- endstyle -%}

{%- unless template == 'index' or template == 'list-collections' or template == '404' -%}
{%- assign t = template | split: '.' | first -%}

<nav class="breadcrumbs" role="navigation" aria-label="breadcrumbs">
  <ol class="breadcrumbs__list">
    <li class="breadcrumbs__item">
      {% liquid
        if template contains 'collection'
          if request.path contains 'mobils'
            assign url = '/pages/mobils'
          elsif request.path contains 'allrounder'
            assign url = '/pages/allrounder'
          elsif request.path contains 'nature'
            assign url = '/pages/nature-is-future'
          elsif request.path contains 'sano'
            assign url = '/pages/sano'
          endif
        else
          assign url = '/'
        endif
      %}
      <a class="breadcrumbs__link" href="{{ url }}">
        {% case localization.language.endonym_name %}
          {% when 'Deutsch' %}
            Startseite
          {% when 'Nederlands' %}
            Startpagina
          {% when 'français' %}
            Acceuil
          {% when 'Español' %}
            Home
          {% when 'Italiano' %}
            Home
          {% when 'English' %}
            Home
        {% endcase %}
      </a>
    </li>
    {%- case t -%}
      {%- when 'page' -%}
        <li class="breadcrumbs__item">
          <span class="active">{{ page.title }}</span>
        </li>
      {%- when 'product' -%}
        <li class="breadcrumbs__item ParentCollection" style="display: none;">
          <a class="breadcrumbs__link" href="javascript:;"><span class="hide">ada</span></a>
        </li>
        <li class="breadcrumbs__item prevCollection" style="display: none;">
          <a class="breadcrumbs__link" href="javascript:;"><span class="hide">ada</span></a>
        </li>
        {% comment %} {%- if collection.url -%}
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="{{ collection.url }}">{{ collection.title }}</a>
          </li>
        {%- endif -%} {% endcomment %}
        <li class="breadcrumbs__item">
          <span class="active">{{ product.title | split: ' - ' | first }}</span>
        </li>
      {%- when 'collection' and collection.handle -%}
        {%- if current_tags -%}
          <li class="breadcrumbs__item">
            {{ collection.title | downcase | remove: ' (women)' | remove: ' (men)' | escape | link_to: collection.url }}
          </li>
          <li class="breadcrumbs__item">
            {%- capture tag_url -%}{{ collection.url }}/{{ current_tags | join: "+"}}{%- endcapture -%}
            <a class="breadcrumbs__link" href="{{ tag_url }}" aria-current="page">{{ current_tags | join: " + "}}</a>
          </li>
        {%- else -%}
          {% if collection.metafields.custom.parent_collection != blank %}
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link" href="{{ collection.metafields.custom.parent_collection.value.url }}">{{ collection.metafields.custom.parent_collection.value.title }}</a>
            </li>
          {% endif %}
          <li class="breadcrumbs__item">
            <span class="active">{{ collection.title | split: ' - ' | first | remove: ' (Women)' | remove: ' (Men)' }}</span>
          </li>
        {%- endif -%}
      {%- when 'blog' -%}
        {%- if current_tags -%}
          <li class="breadcrumbs__item">
            {{ blog.title | link_to: blog.url }}
          </li>
          <li class="breadcrumbs__item">
            {%- capture tag_url -%}{{blog.url}}/tagged/{{ current_tags | join: "+" }}{%- endcapture -%}
            <a class="breadcrumbs__link" href="{{ tag_url }}" aria-current="page">{{ current_tags | join: " + " }}</a>
          </li>
        {%- else -%}
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="{{ blog.url }}" aria-current="page">{{ blog.title }}</a>
          </li>
        {%- endif -%}
      {%- when 'article' -%}
        <li class="breadcrumbs__item">
          {{ blog.title | link_to: blog.url }}
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link" href="{{ article.url }}" aria-current="page">{{ article.title }}</a>
        </li>
      {%- when 'cart' -%}
        <li class="breadcrumbs__item">
          <span class="active">
            {% case localization.language.endonym_name %}
              {% when 'Deutsch' %}
                Warenkorb
              {% when 'Nederlands' %}
                Winkelwagen
              {% when 'français' %}
                Panier
              {% when 'Español' %}
                Cesta
              {% when 'Italiano' %}
                Carrello
              {% when 'English' %}
                Cart
            {% endcase %}
          </span>
        </li>
      {%- else -%}
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link" href="{{ request.path }}" aria-current="page">{{ page_title }}</a>
        </li>
    {%- endcase -%}
  </ol>
</nav>
{%- endunless -%}

<script>
  document.addEventListener("DOMContentLoaded", function () {
    (function(){
      {% if template contains 'collection' %}
        let collection = {
          title: "{{ collection.title | split: ' - ' | first }}",
          url: "{{ collection.url }}"
        }
        sessionStorage.setItem('prevCollectionTitle', collection.title);
        sessionStorage.setItem('prevCollectionUrl', collection.url);

        {% if collection.metafields.custom.parent_collection.value != blank %}
          sessionStorage.setItem('prevParentCollectionTitle', "{{collection.metafields.custom.parent_collection.value.title}}");
          sessionStorage.setItem('prevParentCollectionUrl', "{{collection.metafields.custom.parent_collection.value.url}}");
        {% else %}
          sessionStorage.removeItem('prevParentCollectionTitle');
          sessionStorage.removeItem('prevParentCollectionUrl');
          console.log("No parent collection.");
        {% endif %}
      {% endif %}

      sessionStorage.setItem("prevURL", location.href);
    })();
  })
</script>