{% liquid
  assign block_settings = block.settings
  assign menu_content_type = block_settings.menu_style | default: 'text'
  assign image_border_radius = block_settings.image_border_radius
  assign color_scheme_classes = ''
  assign color_scheme_setting_id = 'color_scheme_' | append: section.settings.menu_row
  assign current_color_scheme = block_settings.color_scheme
  assign parent_color_scheme = section.settings[color_scheme_setting_id]

  if parent_color_scheme.id != current_color_scheme.id
    assign color_scheme_classes = ' color-' | append: current_color_scheme
  endif

  # Check if header and menu colors match. This is used to apply different padding styles in css
  if parent_color_scheme.settings.background.rgb == current_color_scheme.settings.background.rgb
    assign color_scheme_classes = color_scheme_classes | append: ' color-scheme-matches-parent'
  endif

  if block_settings.menu_style == 'featured_collections'
    assign ratio = block_settings.featured_collections_aspect_ratio
  elsif block_settings.menu_style == 'featured_products'
    assign ratio = block_settings.featured_products_aspect_ratio
  endif
%}

{% capture children %}
  {% for link in block_settings.menu.links %}
    <li
      role="presentation"
      class="menu-list__list-item"
      on:focus="/activate"
      on:blur="/deactivate"
      on:pointerenter="/activate"
      on:pointerleave="/deactivate"
    >
      <a
        href="{{ link.url }}"
        data-skip-node-update="true"
        class="menu-list__link{% if link.active %} menu-list__link--active{% endif %}"
        {%- if link.links != blank -%}
          aria-controls="submenu-{{ forloop.index }}"
          aria-haspopup="true"
        {%- endif -%}
        ref="menuitem"
      >
        <span class="menu-list__link-title">{{- link.title -}}</span>
      </a>
      {%- if link.links != blank -%}
        <div class="menu-list__submenu{{ color_scheme_classes }}" ref="submenu[]">
          <div
            id="submenu-{{ forloop.index }}"
            class="menu-list__submenu-inner"
            style="{% render 'submenu-font-styles', settings: block_settings %}"
          >
            {% assign list_id = 'MegaMenuList-' | append: forloop.index %}
            {% render 'mega-menu',
              section: section,
              parent_link: link,
              id: list_id,
              menu_content_type: menu_content_type,
              content_aspect_ratio: ratio,
              image_border_radius: image_border_radius
            %}
          </div>
        </div>
      {%- endif -%}
    </li>
  {% endfor %}
  <li
    class="menu-list__list-item"
    role="presentation"
    slot="more"
    on:focus="/activate"
    on:blur="/deactivate"
    on:pointerenter="/activate"
    on:pointerleave="/deactivate"
  >
    <button role="menuitem" class="button menu-list__link button-unstyled">
      <span class="menu-list__link-title">{{ 'actions.more' | t }}</span>
    </button>
  </li>
{% endcapture %}

<nav header-menu>
  <div
    class="menu-list"
    style="{% render 'menu-font-styles', settings: block_settings %}"
  >
    <ul class="home-menu-ul">
      {% for link in block_settings.menu.links %}
        <li class="menu-list__list-item">
          {% if link.title != 'Logo' %}
            {% if link.links == blank %}
              <a
                {% if link.title == "FAQS" %}
                  href="#faq"
                {% else %}
                  href="{{ link.url }}"
                {% endif %}
                data-skip-node-update="true"
                class="menu-list__link{% if link.active %} menu-list__link--active{% endif %}"
                ref="menuitem"
              >
            {% else %}
              <span
                onclick="openMenu({{ forloop.index }})"
                data-skip-node-update="true"
                class="menu-list__link{% if link.active %} menu-list__link--active{% endif %}"
                aria-controls="submenu-{{ forloop.index }}"
                aria-haspopup="true"
                ref="menuitem"
              >
            {% endif %}
              <span class="menu-list__link-title">{{- link.title -}}</span>
              {%- if link.links != blank -%}
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                  <g clip-path="url(#clip0_4592_27158)">
                    <path d="M13 6L8 11L3 6" stroke="white" stroke-opacity="0.9" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </g>
                  <defs>
                    <clipPath id="clip0_4592_27158">
                      <rect width="16" height="16" fill="white"/>
                    </clipPath>
                  </defs>
                </svg>
              {%- endif -%}
            {% if link.links == blank %}
              </a>
            {% else %}
              </span>
            {% endif %}
          {% else %}
            <a href="{{ link.url }}" aria-label="logo">
              <span class="menu-list__link-title">
                {% assign image = settings.logo %}
                {%- if image -%}
                  <div class="logo-block__image-wrapper">
                    <svg xmlns="http://www.w3.org/2000/svg" width="33" height="45" viewBox="0 0 33 45" fill="none">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M32.1581 1.04075C31.6602 -0.673883 25.1416 0.246945 25.1416 0.246945C22.6209 0.564294 18.1403 1.0564 18.1403 1.0564C17.5446 1.29319 17.218 1.59353 17.1607 1.95728V2.61537C17.1607 3.50021 19.1841 3.59609 19.1981 3.59674H20.9095L21.3968 6.47941L22.061 7.08924C22.0299 8.21629 22.8391 9.83581 22.8391 9.83581C23.4613 12.0109 23.5176 14.4707 23.5176 14.4707C23.572 14.7476 23.6631 14.8363 23.6634 14.8366C24.8897 17.4024 24.7925 20.2056 24.7921 20.2183V31.6866C24.7846 32.7211 24.823 33.4018 24.8233 33.4073C24.901 34.2636 25.3361 34.9774 25.3361 34.9774C25.7773 35.7122 25.879 36.2738 25.8798 36.2781L25.2042 36.6429L23.7313 36.3403L23.6926 36.0792C23.6926 36.0792 23.3 33.4469 23.2922 33.1615C23.2844 32.8761 23.0746 32.7569 23.0746 32.7569L22.1657 31.6626C22.0257 31.5757 21.7146 31.6706 21.7146 31.6706C20.8783 31.9315 20.9559 33.6062 20.9564 33.6173C21.0498 37.4908 20.9453 41.9162 20.9453 41.9162C20.8218 42.7043 20.8287 43.3513 20.8288 43.3592C21.4659 44.9295 22.4812 45 22.4812 45C26.6319 44.8572 29.3387 43.1534 29.3429 43.1507L29.5132 43.3807L30.1201 44.3489H31.6135C32.4536 44.1427 32.6249 43.0154 32.6249 43.0154C33.0915 36.9195 32.9909 32.3605 32.9909 32.3605L32.6179 30.719H32.237C31.8894 30.4902 31.3803 30.5127 31.3744 30.5129C30.6906 30.8143 30.5815 31.4247 30.5815 31.4247V32.7253L30.6905 34.2795C30.76 35.0047 30.2845 35.1346 30.2788 35.1361L27.512 35.715C27.1486 35.8018 27.2778 35.48 27.279 35.4769L27.4885 34.5572V32.8365C27.403 32.1564 27.0867 30.9323 27.0849 30.9252C26.976 30.0146 27.303 29.1903 27.304 29.1879L27.4905 19.5515L27.4885 14.5498C27.4733 14.1671 27.1239 13.742 26.9983 13.5893L26.9927 13.5824C26.8726 13.4362 26.853 13.2331 26.853 13.2331C26.6818 11.8677 28.3307 9.88331 28.3307 9.88331C28.2533 7.24094 29.5667 5.35561 29.5755 5.34308L29.5947 3.86028C29.8816 3.07776 31.0717 2.63381 31.0792 2.63101C32.1981 2.26868 32.1586 1.90636 32.1581 1.90167V1.04075ZM30.0613 38.5063C29.7125 37.779 26.8606 38.3916 26.844 38.3952L25.624 38.507L23.7256 39.5387L23.2922 42.0591C23.2691 42.2649 23.37 42.2493 23.37 42.2493L25.2663 42.1937C26.2868 42.0753 26.6842 41.3914 26.688 41.3848H27.7453L28.2347 40.7186H29.2452C29.9677 40.0765 30.1387 39.5133 30.1387 39.5133V38.7204C30.1157 38.5645 30.063 38.5081 30.0613 38.5063ZM27.7453 2.65476C27.8462 2.38529 27.6285 2.47248 27.6285 2.47248C27.4028 2.55972 26.9914 2.63893 26.9914 2.63893C26.6259 2.72617 25.5381 2.74223 25.5381 2.74223C24.0943 2.85245 23.7628 3.46359 23.7585 3.47157C23.5411 4.05041 23.7585 4.40752 23.7585 4.40752L24.3256 5.15288L24.3181 6.46132C24.5355 6.73877 24.7688 7.44458 24.7688 7.44458C24.9863 8.16647 25.6081 8.51512 25.6081 8.51512C25.8627 8.71975 25.9106 8.4712 25.9112 8.46761L27.2011 4.23597L27.7453 2.65476Z" fill="white"/>
                      <path d="M9.2028 1.46923H8.16791C7.79462 1.45354 7.43562 1.83419 7.43562 1.83419C7.37861 2.60141 7.27592 3.3532 7.21892 4.12042V5.86676C7.68348 8.23779 6.89409 9.12584 6.88714 9.13361C6.56076 9.6808 6.05195 10.296 6.05195 10.296C4.91876 11.8486 3.19636 14.4291 3.18928 14.4398C0.606996 18.4085 0 20.3069 0 20.3069V21.687H1.33841C2.04302 21.442 2.00706 20.0556 2.00679 20.0454C1.97576 19.7996 2.09232 19.728 2.09232 19.728C2.65177 19.3712 3.69305 17.809 3.69305 17.809L5.19606 15.6464C6.18709 14.098 7.11128 13.7622 7.12009 13.759C7.43799 13.5718 7.39072 14.0274 7.38999 14.0343V20.2183L6.96472 24.9938C6.91028 25.1199 6.34071 25.5055 6.33551 25.509L6.36655 26.532C6.29724 26.6732 6.15986 26.6205 6.15669 26.6193L5.10277 30.0452C3.70268 34.9665 3.26705 35.8498 3.26705 35.8498L3.23454 36.0717L2.57411 39.8307C2.49755 40.0963 2.62477 40.0848 2.62842 40.0845L3.27352 40.4094H3.6308C4.04293 40.2746 4.10501 39.9972 4.10501 39.9972L5.19292 37.4674L5.2332 36.3522L5.69855 35.9842C5.78606 35.8989 5.73551 35.8895 5.73346 35.8892C5.55917 35.8102 5.6749 35.5721 5.6749 35.5721L6.70554 33.0457C7.37349 31.0323 7.99692 29.0209 7.99869 29.0152C8.21059 28.621 8.29076 28.897 8.29224 28.9021L9.00809 30.4421C9.25703 31.7598 9.50577 34.6492 9.50577 34.6492L10.1438 35.4113C10.1592 38.4877 11.1528 39.9326 11.1549 39.9357L11.4185 43.5187L12.2448 44.2311L12.5859 44.223C13.0048 44.0884 13.2396 44.1904 13.2396 44.1904C13.3947 43.9688 13.735 42.566 13.7377 42.555C13.7377 41.5721 13.524 38.2117 13.5236 38.2048C13.5313 38.0412 13.4715 38.0155 13.4695 38.0146C13.0113 38.0779 12.9287 37.6505 12.9286 37.6497L12.0782 32.2327C12.0432 31.9004 11.9424 31.9756 11.9424 31.9756C11.7747 32.0672 11.7679 31.7553 11.7656 31.6042C11.7402 29.8914 10.9061 28.3308 10.9061 28.3308C10.0847 26.8913 9.54107 25.9681 9.53699 25.9612C9.31175 25.4933 9.67702 25.1759 9.67702 25.1759L10.7503 23.9332L10.3064 14.1136C10.3064 13.845 10.5848 13.9938 10.5865 13.9947C12.0938 15.1763 11.8998 17.1986 11.8998 17.1986C12.5421 17.6884 12.6679 18.1626 12.6688 18.166C13.0186 19.3713 13.3372 20.1088 13.3372 20.1088C14.0963 21.7136 15.8751 21.293 15.8862 21.2903C16.0325 21.2038 16.0338 20.86 16.0338 20.8541C16.0494 20.6719 16.1271 20.5925 16.1271 20.5925C16.3447 20.2911 16.6937 20.2592 16.6937 20.2592V19.2658C15.5609 18.9333 15.0318 17.0059 15.029 16.9957C14.7644 15.8684 14.2821 14.3125 14.2821 14.3125C12.8242 10.7831 10.4489 9.25468 10.4344 9.2454C10.3895 9.19367 10.3615 9.07367 10.3615 9.07367L10.2752 3.37675C10.4775 3.3052 10.4697 3.24951 10.4697 3.24951C9.81244 1.34009 9.20881 1.46791 9.2028 1.46923Z" fill="white"/>
                    </svg>
                  </div>
                {%- endif -%}
              </span>
            </a>
          {% endif %}
          {%- if link.links != blank -%}
            <div
              id="header-dropdown-back-{{ forloop.index }}"
              class="header-dropdown-back"
              onclick="closeMenu({{ forloop.index }})"
            >
            </div>
            <div id="submenu-{{ forloop.index }}" class="header-dropdown">
              <div class="dropdown-header">
                <div class="dropdown-header-left" onclick="closeMenu({{ forloop.index }})">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                    <g clip-path="url(#clip0_4030_59197)">
                      <path d="M15.625 4.375L4.375 15.625" stroke="#F9F9F7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M15.625 15.625L4.375 4.375" stroke="#F9F9F7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </g>
                    <defs>
                      <clipPath id="clip0_4030_59197">
                        <rect width="20" height="20" fill="white"/>
                      </clipPath>
                    </defs>
                  </svg>
                  <span>CLOSE</span>
                </div>
                <div class="dropdown-header-center"><a href="/">XINZUO</a></div>
                <div class="dropdown-header-right">
                  {% comment %} {% render 'cart-drawer' %} {% endcomment %}
                  {% render 'search', style: 'default', class: 'custom-class' %}
                </div>
              </div>
              <ul>
                {% for sublink in link.links %}
                  <li class="menu-dropdown-list">
                    <a href="{{ sublink.url }}" class="mega-dropdown">
                      <span class="mega-dropdown-title">
                        {{ sublink.title }}
                      </span>
                    </a>
                    {% if sublink.links != blank %}
                      <ul
                        class="list-unstyled"
                        {% if should_break_columns %}
                          style="column-count: {{ column_span }};"
                        {% endif %}
                      >
                        {% for childLink in sublink.links limit: 5 %}
                          {% assign break_after_modulo = forloop.index | modulo: 10 %}
                          <li
                            {% if break_after_modulo == 0 and should_break_columns %}
                              style="break-after: column;"
                            {% endif %}
                          >
                            <a href="{{ childLink.url }}">
                              <span class="mega-menu__link-title wrap-text">{{- childLink.title -}}</span>
                            </a>
                          </li>
                        {% endfor %}
                        {% if sublink.links.size > 5 %}
                          <li><a href="{{ sublink.url }}">view all</a></li>
                        {% endif %}
                      </ul>
                    {% endif %}
                    {% assign product_handle = sublink.url | split: '/' | last %}
                    {% assign product = all_products[product_handle] %}
                    {% if product != blank %}
                      <ul
                        class="list-unstyled"
                        {% if should_break_columns %}
                          style="column-count: {{ column_span }};"
                        {% endif %}
                      >
                        {% for variant in product.variants limit: 5 %}
                          {% assign break_after_modulo = forloop.index | modulo: 10 %}
                          <li
                            {% if break_after_modulo == 0 and should_break_columns %}
                              style="break-after: column;"
                            {% endif %}
                          >
                            <a href="{{ variant.url }}">
                              <span class="mega-menu__link-title wrap-text">{{- variant.title -}}</span>
                            </a>
                          </li>
                        {% endfor %}
                        {% if product.variants.size > 5 %}
                          <li><a href="{{ product.url }}">view all</a></li>
                        {% endif %}
                      </ul>
                      {% if product.featured_image != blank %}
                        <img
                          src="{{ product.featured_image | img_url: 'master' }}"
                          width="100%"
                          height="100%"
                          alt="{{ product.title | escape }}"
                        >
                      {% else %}
                        {% assign firstimage = product.products.first %}
                        <img
                          src="{{ firstimage.featured_image | img_url: 'master' }}"
                          width="100%"
                          height="100%"
                          alt="{{ firstimage.title | escape }}"
                        >
                      {% endif %}
                    {% endif %}
                    {% assign collection_handle = sublink.url | split: '/' | last %}
                    {% assign collection = collections[collection_handle] %}
                    {% if collection != blank %}
                      <ul
                        class="list-unstyled"
                        {% if should_break_columns %}
                          style="column-count: {{ column_span }};"
                        {% endif %}
                      >
                        {% for product in collection.products limit: 5 %}
                          {% assign break_after_modulo = forloop.index | modulo: 10 %}
                          <li
                            {% if break_after_modulo == 0 and should_break_columns %}
                              style="break-after: column;"
                            {% endif %}
                          >
                            <a href="{{ product.url }}">
                              <span class="mega-menu__link-title wrap-text">{{- product.title | split: " - " | last | strip_html | truncate: 25, "..." -}}</span>
                            </a>
                          </li>
                        {% endfor %}
                        {% if collection.products.size > 5 %}
                          <li><a href="{{ collection.url }}">view all</a></li>
                        {% endif %}
                      </ul>
                      {% if collection.featured_image != blank %}
                        <img
                          src="{{ collection.featured_image | img_url: 'master' }}"
                          width="100%"
                          height="100%"
                          alt="{{ collection.title | escape }}"
                        >
                      {% else %}
                        {% assign firstimage = collection.collections.first %}
                        <img
                          src="{{ firstimage.featured_image | img_url: 'master' }}"
                          width="100%"
                          height="100%"
                          alt="{{ firstimage.title | escape }}"
                        >
                      {% endif %}
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            </div>
          {%- endif -%}
        </li>
      {% endfor %}
    </ul>
  </div>
</nav>

{% style %}
  .header-dropdown-back {
    backdrop-filter: blur(5px);
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 1;
    display: none;
  }

  .header-dropdown {
    width: 100%;
    background-color: #111111;
    padding: 0 32px;
    position: fixed;
    top: 0;
    z-index: 5;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    max-width: 1440px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .dropdown-header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .dropdown-header-left {
    display: flex;
    align-items: center;
    gap: 32px;
    font-family: "Sen";
    font-weight: 400;
    font-size: 16px;
    color: #f9f9f7;
    cursor: pointer;
  }

  .dropdown-header-center {
    font-family: "Sen";
    font-weight: 500;
    font-size: 22px;
    color: #fff;
  }

  .dropdown-header-right {
    display: flex;
  }

  .dropdown-header-right search-button {
    margin: 0 !important;
  }

  .header-dropdown > ul {
    display: flex;
    padding: 48px 0;
    list-style: none;
    margin: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
  }

  .header-dropdown > ul > li {
    width: 25%;
    padding: 0 32px;
    display: flex;
    flex-direction: column;
    border-left: 1px solid rgba(255, 255, 255, 0.05);
  }

  .header-dropdown > ul > li:first-child {
    border: none;
  }

  .header-dropdown > ul > li a {
    display: block;
    font-family: "Sen";
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    margin-bottom: 24px;
  }

  .header-dropdown > ul > li ul li a {
    font-family: "Sen";
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    margin-bottom: 17px;
    width: fit-content;
    position: relative;
    transition: all 0.3s ease;
  }

  .header-dropdown > ul > li ul li a::after {
    content: '→';
    position: absolute;
    left: -20px;
    opacity: 0;
    transform: translateX(-5px);
    transition: all 0.3s ease;
  }

  .header-dropdown > ul > li ul li a:hover {
    border-bottom: 1px solid grey;
    left: 20px;
  }

  .header-dropdown > ul > li ul li a:hover::after {
    opacity: 1;
    transform: translateX(0);
  }

  .header-dropdown > ul > li img {
    width: 100%;
    margin-top: auto;
    object-fit: cover;
  }

  .menu-list__list-item ul {
    overflow: hidden;
  }

  .home-menu-ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
  }
{% endstyle %}

<script>
  const openMenu = (num) => {
    const menu = document.querySelector(`#submenu-${num}`);
    const back = document.querySelector(`#header-dropdown-back-${num}`);
    menu.style.maxHeight = menu.scrollHeight + 'px';
    back.style.display = 'block';
    document.body.style.overflow = "hidden";
  };
  const closeMenu = (num) => {
    const menu = document.querySelector(`#submenu-${num}`);
    const back = document.querySelector(`#header-dropdown-back-${num}`);
    menu.style.maxHeight = 0;
    back.style.display = 'none';
    document.body.style.overflow = ""
  };
</script>
