{% liquid
  assign block_settings = block.settings
  assign menu_content_type = block_settings.menu_style | default: 'text'
  assign image_border_radius = block_settings.image_border_radius
  assign color_scheme_classes = ''
  assign color_scheme_setting_id = 'color_scheme_' | append: section.settings.menu_row
  assign current_color_scheme = block_settings.color_scheme
  assign parent_color_scheme = section.settings[color_scheme_setting_id]

  if parent_color_scheme.id != current_color_scheme.id
    assign color_scheme_classes = ' color-' | append: current_color_scheme
  endif

  # Check if header and menu colors match. This is used to apply different padding styles in css
  if parent_color_scheme.settings.background.rgb == current_color_scheme.settings.background.rgb
    assign color_scheme_classes = color_scheme_classes | append: ' color-scheme-matches-parent'
  endif

  if block_settings.menu_style == 'featured_collections'
    assign ratio = block_settings.featured_collections_aspect_ratio
  elsif block_settings.menu_style == 'featured_products'
    assign ratio = block_settings.featured_products_aspect_ratio
  endif
%}

{% capture children %}
  {% for link in block_settings.menu.links %}
    <li
      role="presentation"
      class="menu-list__list-item"
      on:focus="/activate"
      on:blur="/deactivate"
      on:pointerenter="/activate"
      on:pointerleave="/deactivate"
    >
      <a
        href="{{ link.url }}"
        data-skip-node-update="true"
        class="menu-list__link{% if link.active %} menu-list__link--active{% endif %}"
        {%- if link.links != blank -%}
          aria-controls="submenu-{{ forloop.index }}"
          aria-haspopup="true"
          aria-expanded="false"
        {%- endif -%}
        ref="menuitem"
      >
        <span class="menu-list__link-title">{{- link.title -}}</span>
      </a>
      {%- if link.links != blank -%}
        <div class="menu-list__submenu{{ color_scheme_classes }}" ref="submenu[]">
          <div
            id="submenu-{{ forloop.index }}"
            class="menu-list__submenu-inner"
            style="{% render 'submenu-font-styles', settings: block_settings %}"
          >
            {% assign list_id = 'MegaMenuList-' | append: forloop.index %}
            {% render 'mega-menu',
              section: section,
              parent_link: link,
              id: list_id,
              menu_content_type: menu_content_type,
              content_aspect_ratio: ratio,
              image_border_radius: image_border_radius
            %}
          </div>
        </div>
      {%- endif -%}
    </li>
  {% endfor %}
  <li
    class="menu-list__list-item"
    role="presentation"
    slot="more"
    on:focus="/activate"
    on:blur="/deactivate"
    on:pointerenter="/activate"
    on:pointerleave="/deactivate"
  >
    <button role="menuitem" class="button menu-list__link button-unstyled">
      <span class="menu-list__link-title">{{ 'actions.more' | t }}</span>
    </button>
  </li>
{% endcapture %}

<nav header-menu>
  <div
    class="menu-list"
    style="{% render 'menu-font-styles', settings: block_settings %}"
  >
    {% for link in block_settings.menu.links %}
      <li class="menu-list__list-item">
        {% if link.title != 'Logo' %}
          <a
            {% if link.links == blank %}
              href="{{ link.url }}"
            {% else %}
              onclick="openMenu({{ forloop.index }})"
            {% endif %}
            data-skip-node-update="true"
            class="menu-list__link{% if link.active %} menu-list__link--active{% endif %}"
            {%- if link.links != blank -%}
              aria-controls="submenu-{{ forloop.index }}"
              aria-haspopup="true"
              aria-expanded="false"
            {%- endif -%}
            ref="menuitem"
          >
            <span class="menu-list__link-title">{{- link.title -}}</span>
            {%- if link.links != blank -%}
              <img src="{{ 'Frame_161.svg?v=1760489140' | file_url }}" width="100%" height="100%" alt="Dropdown">
            {%- endif -%}
          </a>
        {% else %}
          <a href="{{ link.url }}">
            <span class="menu-list__link-title">
              {% assign image = settings.logo %}
              {%- if image -%}
                <div class="logo-block__image-wrapper">
                  {% comment %}
                    {{-
                      image
                      | image_url: width: 3840
                      | image_tag:
                        width: 35,
                        height: 35,
                        class: 'logo-block__image',
                        alt: shop.name,
                        sizes: '(min-width: 750px) calc(var(--logo-width)), 100vw'
                    -}}
                  {% endcomment %}
                  <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M38.6997 17.3317C38.9173 17.6072 39.1508 18.3081 39.1508 18.3081C39.3685 19.0251 39.9907 19.3714 39.9907 19.3714C40.2475 19.5761 40.2942 19.3241 40.2942 19.3241L41.5852 15.1217L42.13 13.5513C42.231 13.2837 42.0131 13.3704 42.0131 13.3704C41.7872 13.457 41.3755 13.5357 41.3755 13.5357C41.0097 13.6224 39.9208 13.6382 39.9208 13.6382C38.4662 13.7484 38.1395 14.3626 38.1395 14.3626C37.9219 14.9375 38.1395 15.292 38.1395 15.292L38.7073 16.0322L38.6997 17.3317ZM37.673 52.6842C37.6498 52.8887 37.7507 52.8731 37.7507 52.8731L39.6487 52.8179C40.6752 52.6998 41.0718 52.0145 41.0718 52.0145H42.13L42.6198 51.353H43.6311C44.3544 50.7153 44.5256 50.156 44.5256 50.156V49.3685C44.5021 49.211 44.4481 49.1558 44.4481 49.1558C44.0979 48.4315 41.2278 49.0457 41.2278 49.0457L40.0067 49.1566L38.1067 50.1813L37.673 52.6842ZM31.5359 12.8586V13.5122C31.5359 14.394 33.5752 14.4868 33.5752 14.4868H35.2881L35.7758 17.3496L36.4405 17.9554C36.4095 19.0747 37.2193 20.6829 37.2193 20.6829C37.8421 22.843 37.8984 25.2858 37.8984 25.2858C37.953 25.5614 38.0443 25.6493 38.0443 25.6493C39.2745 28.2033 39.1741 30.9939 39.1741 30.9939V42.3831C39.1665 43.4147 39.2054 44.0921 39.2054 44.0921C39.2831 44.9425 39.7186 45.6513 39.7186 45.6513C40.1619 46.3838 40.2629 46.9431 40.2629 46.9431L39.5866 47.3053L38.1125 47.0049L38.0736 46.7455C38.0736 46.7455 37.6808 44.1314 37.673 43.848C37.6652 43.5645 37.4551 43.4462 37.4551 43.4462L36.5453 42.3593C36.4052 42.273 36.0939 42.3673 36.0939 42.3673C35.254 42.6272 35.335 44.3007 35.335 44.3007C35.4284 48.1475 35.3239 52.5423 35.3239 52.5423C35.1995 53.3298 35.2073 53.9755 35.2073 53.9755C35.845 55.5349 36.8611 55.605 36.8611 55.605C41.0187 55.4631 43.7291 53.7685 43.7291 53.7685L43.8995 53.9967L44.5069 54.9583H46.0016C46.8426 54.7536 47.014 53.634 47.014 53.634C47.481 47.58 47.3803 43.0525 47.3803 43.0525L47.0069 41.4223H46.6257C46.2758 41.1938 45.7623 41.2176 45.7623 41.2176C45.0779 41.5169 44.9689 42.1232 44.9689 42.1232V43.4147L45.0779 44.9583C45.1479 45.683 44.6657 45.809 44.6657 45.809L41.8965 46.3838C41.531 46.4705 41.6632 46.1474 41.6632 46.1474L41.873 45.2341V43.5252C41.7872 42.8478 41.4689 41.627 41.4689 41.627C41.3598 40.7214 41.6882 39.9017 41.6882 39.9017L41.8751 30.3317L41.873 25.3645C41.8576 24.9786 41.4971 24.5492 41.3767 24.4037C41.2565 24.2585 41.2369 24.0569 41.2369 24.0569C41.0654 22.7009 42.716 20.7302 42.716 20.7302C42.6382 18.0972 43.9618 16.2211 43.9618 16.2211L43.981 14.7486C44.2691 13.969 45.4669 13.5278 45.4669 13.5278C46.5942 13.1656 46.5467 12.8034 46.5467 12.8034V11.9484C46.0483 10.2456 39.524 11.1601 39.524 11.1601C37.001 11.4753 32.5164 11.964 32.5164 11.964C31.9201 12.1992 31.5933 12.4974 31.5359 12.8586ZM21.5852 15.007V16.7412C22.0522 19.1063 21.253 19.9856 21.253 19.9856C20.9263 20.529 20.4171 21.1399 20.4171 21.1399C19.2806 22.6851 17.5518 25.2551 17.5518 25.2551C14.9672 29.1965 14.3598 31.0819 14.3598 31.0819V32.4524H15.6993C16.4071 32.2083 16.3683 30.8222 16.3683 30.8222C16.3372 30.5781 16.4538 30.507 16.4538 30.507C17.0138 30.1528 18.0562 28.6012 18.0562 28.6012L19.5605 26.4534C20.5572 24.9083 21.4862 24.5791 21.4862 24.5791C21.8068 24.3917 21.7564 24.8526 21.7564 24.8526V30.9939L21.3307 35.7364C21.2762 35.8622 20.7009 36.2481 20.7009 36.2481L20.7319 37.2642C20.6617 37.406 20.5219 37.3508 20.5219 37.3508L19.4671 40.7531C18.0658 45.6405 17.6298 46.5178 17.6298 46.5178L17.5972 46.7381L16.936 50.4712C16.8583 50.7388 16.9906 50.7232 16.9906 50.7232L17.6361 51.046H17.9938C18.4063 50.9121 18.4684 50.6365 18.4684 50.6365L19.5572 48.1242L19.5976 47.0167L20.0634 46.6512C20.1528 46.5648 20.0982 46.5569 20.0982 46.5569C19.9238 46.4784 20.0397 46.242 20.0397 46.242L21.0712 43.733C21.7407 41.7306 22.3655 39.7302 22.3655 39.7302C22.5796 39.335 22.6594 39.618 22.6594 39.618L23.3758 41.1473C23.625 42.456 23.8739 45.3254 23.8739 45.3254L24.5126 46.0822C24.528 49.1408 25.5247 50.5755 25.5247 50.5755L25.7885 54.1337L26.6156 54.8412L26.9569 54.8333C27.3762 54.6996 27.6112 54.8008 27.6112 54.8008C27.767 54.58 28.1098 53.1767 28.1098 53.1767C28.1098 52.1996 27.8955 48.8565 27.8955 48.8565C27.9033 48.6912 27.8412 48.6676 27.8412 48.6676C27.3823 48.7305 27.3 48.3052 27.3 48.3052L26.4487 42.9255C26.4136 42.5955 26.3129 42.6702 26.3129 42.6702C26.145 42.7612 26.1382 42.4514 26.1359 42.3013C26.1104 40.6003 25.2755 39.0506 25.2755 39.0506C24.4503 37.6156 23.9052 36.6972 23.9052 36.6972C23.6798 36.2325 24.0453 35.9174 24.0453 35.9174L25.1198 34.6833L24.6755 24.9313C24.6755 24.6637 24.9557 24.8132 24.9557 24.8132C26.4643 25.9867 26.2702 27.995 26.2702 27.995C26.9155 28.4832 27.0399 28.9558 27.0399 28.9558C27.3901 30.1528 27.7089 30.8851 27.7089 30.8851C28.4711 32.4839 30.2602 32.0585 30.2602 32.0585C30.4079 31.9719 30.4079 31.6253 30.4079 31.6253C30.4236 31.4443 30.5013 31.3656 30.5013 31.3656C30.7192 31.0663 31.0683 31.0346 31.0683 31.0346V30.048C29.9315 29.717 29.4021 27.7935 29.4021 27.7935C29.1373 26.674 28.6546 25.1289 28.6546 25.1289C27.1909 21.613 24.8035 20.0966 24.8035 20.0966C24.7585 20.0452 24.7305 19.9261 24.7305 19.9261L24.6442 14.2683C24.8466 14.1972 24.8388 14.142 24.8388 14.142C24.1776 12.2362 23.5707 12.374 23.5707 12.374H22.5349C22.1613 12.3584 21.8021 12.7365 21.8021 12.7365C21.745 13.4984 21.6423 14.245 21.5852 15.007ZM4.32527 26.2579C4.1122 26.4419 4.23489 26.5988 4.23489 26.5988L4.25685 26.6523H4.41741L4.4573 26.5426V26.3238C4.42499 26.2645 4.38098 26.2425 4.32527 26.2579ZM11.1531 1.93543L11.0534 1.89581L10.7267 1.98092C10.7267 1.98092 10.5053 2.01109 10.5146 1.67599C10.5146 1.67599 10.5985 1.43521 11.3255 1.45413L11.9455 1.61464L12.64 1.45872C12.64 1.45872 13.1621 1.33629 13.5256 1.63356C13.5256 1.63356 13.7773 1.8222 14.001 1.6287L14.0571 1.57221H14.2201L14.3413 1.44952H14.7606C14.7606 1.44952 15.0871 1.17092 15.2827 1.36441C15.2827 1.36441 15.469 1.49196 15.4087 1.77977C15.4087 1.77977 15.2875 2.12892 14.9005 2.34618H14.4809C14.4809 2.34618 14.2903 2.46402 14.099 2.34618H12.9478C12.9478 2.34618 12.8405 2.4405 12.7006 2.45916H12.2672L11.7171 2.12432C11.7171 2.12432 11.2349 1.95664 11.1531 1.93543ZM17.4899 1.10472H17.7966L17.8976 1.21744C17.9956 1.2683 18.2796 1.21744 18.2796 1.21744H18.8484C19.044 1.3391 19.375 1.21744 19.375 1.21744H19.6537L19.7572 1.11264H21.1899L21.2535 1.0012H21.463L21.5748 0.887962H22.2693L22.647 1.10497H24.4041L24.4334 1.15865C24.2094 1.28159 24.0039 2.11333 24.0039 2.11333L23.5743 1.92393H23.1446L23.0555 2.01415H22.6733L22.5847 2.10387H20.5211L20.3439 2.01876H19.1768C17.4212 2.63348 16.4175 1.82986 16.4175 1.82986V1.59803L16.5902 1.4232H16.9638L17.4899 1.10472ZM1.98529 6.99433L2.31145 6.66409H2.53993V7.02244C2.53993 7.02244 2.09258 7.46157 2.63788 8.03719V8.35823H2.25592C2.25592 8.35823 1.80832 8.22123 1.72905 7.87667V7.67372C1.72905 7.67372 2.03653 7.16891 1.98529 6.99433ZM1.43065 8.95736L1.54249 8.79224H1.71516L1.88506 8.96452C1.88506 8.96452 1.76162 9.31598 1.51926 9.283C1.51926 9.283 1.31881 9.12248 1.43065 8.95736ZM1.17946 12.8824C1.14134 12.8668 1.10599 12.8747 1.07267 12.8988V13.3808C1.07267 13.3808 1.32588 13.4562 1.36981 13.1574C1.36981 13.1574 1.30013 12.9576 1.17946 12.8824ZM1.79897 12.8931L1.65912 13.0204V13.162H1.87345L1.92243 13.1124C1.92243 13.1124 2.06935 12.9875 1.96686 12.8837C1.96686 12.8837 1.85956 12.8413 1.79897 12.8931ZM1.13705 14.1954C1.08933 14.1239 1.03708 14.1252 0.983304 14.1579V14.894C0.983304 14.894 1.22566 15.078 1.31881 14.894C1.31881 14.894 1.46321 14.6627 1.35138 14.5257L1.13705 14.1954ZM2.265 13.3036C2.22057 13.318 2.19103 13.3583 2.17185 13.4169C2.17185 13.4169 2.19053 14.1295 1.76641 14.4314C1.76641 14.4314 1.58919 14.5448 1.6778 14.7286C1.6778 14.7286 1.85022 14.9221 2.21376 14.5684C2.21376 14.5684 2.74037 14.0871 2.5167 13.4971C2.5167 13.4971 2.3675 13.2896 2.265 13.3036ZM2.74542 6.15928L2.78101 6.16899C3.23846 6.09333 3.27582 5.41265 3.27582 5.41265C3.2945 5.13839 3.86404 4.8171 3.86404 4.8171C4.34016 4.63741 4.54566 4.28775 4.54566 4.28775L5.0127 3.71111C5.8155 2.59565 6.85181 2.67131 6.85181 2.67131H7.32794C7.68289 2.38759 7.38424 2.15116 7.38424 2.15116H6.44107C6.07678 2.2079 5.53527 2.67131 5.53527 2.67131C4.21873 2.97369 3.9481 3.3139 3.9481 3.3139C3.33187 4.72253 2.74365 5.27079 2.74365 5.27079L2.74542 6.15928ZM1.57202 15.2388L1.65432 15.2386L2.07844 15.6161V16.0925C2.07844 16.0925 1.96206 16.135 1.99008 16.286C1.99008 16.286 1.98529 16.5549 1.72425 16.489C1.72425 16.489 1.58439 16.456 1.50992 16.3617C1.50992 16.3617 1.13704 16.5079 1.1325 16.8192V17.6075C1.1325 17.6075 1.10927 17.6969 0.987845 17.6829C0.987845 17.6829 0.879293 17.6998 0.857582 17.6169L0.848241 17.4137L0.736402 17.3005V16.5646L0.857582 16.489V16.3474C0.857582 16.3474 1.16507 15.9841 1.37006 16.0501C1.37006 16.0501 1.57051 15.9179 1.60787 15.7528C1.60787 15.7528 1.70103 15.4742 1.51926 15.3848C1.51926 15.3848 1.4511 15.3165 1.57202 15.2388ZM0.803051 18.7007L0.742716 18.7288V19.1145L0.819461 19.1593C0.819461 19.1593 1.00754 19.1922 1.133 18.9829V18.6984C1.133 18.6984 1.11912 18.59 0.970426 18.5995H0.803051V18.7007ZM0.872979 20.0365L0.93786 20.1306H1.83912C1.83912 20.1306 1.98074 20.2734 1.93883 20.4672C1.93883 20.4672 1.8222 20.585 1.72425 20.5142L1.70658 20.4669H1.48139L1.45817 20.5398L1.15851 20.5538L1.12013 20.5927H0.86591L0.861873 20.5579L0.754326 20.5306L0.740443 20.4889H0.642237V20.3299L0.579124 20.3194L0.588465 20.195L0.642237 20.1819V20.0365H0.872979ZM0.529139 22.2636L0.413013 22.4047V22.7244L0.503642 22.774C0.503642 22.774 0.710402 22.8351 0.742716 22.4706C0.742716 22.4706 0.749783 22.3249 0.626586 22.2636H0.529139ZM0.469812 23.8547L0.443055 23.8276V23.1239L0.493796 23.0247H0.722265L1.11382 23.4874H1.29559L1.33269 23.5912C1.33269 23.5912 1.98074 23.6571 1.87345 23.9827C1.87345 23.9827 1.40843 25.1232 1.46448 25.9644C1.46448 25.9644 1.57202 26.0217 1.57202 26.1066V26.3512C1.57202 26.3512 1.49073 26.492 1.2143 26.5746C1.2143 26.5746 0.826529 26.7721 0.800779 26.8777H0.484708L0.419827 26.812V26.3793C0.419827 26.3793 0.535957 26.2474 0.329198 25.8078V24.5397C0.329198 24.5397 0.763669 24.3848 0.747512 24.2251C0.747512 24.2251 0.724284 24.0229 0.469812 23.8547ZM0.237556 27.9137C0.345606 28.0788 0.359492 28.2094 0.330712 28.3242L1.05778 28.8482C1.05778 28.8482 1.5286 28.3336 1.27236 27.7769C1.27236 27.7769 1.15573 27.508 0.997187 27.4513C0.997187 27.4513 0.848241 27.4513 0.801538 27.6402H0.503137C0.503137 27.6402 0.470573 27.508 0.372874 27.508C0.372874 27.508 0.293348 27.5315 0.312029 27.6637L0.209536 27.7815L0.237556 27.9137ZM1.23954 29.2443L1.31881 29.1641C1.31881 29.1641 1.59853 29.32 1.57051 29.6835L1.6263 29.6927V29.8626H1.57051V30.1929L1.62175 30.245V30.4196L1.56824 30.4738V30.665L1.48795 30.7463H1.34204L1.15623 30.4201H0.89469L0.778563 30.5377L0.540499 30.5139C0.540499 30.5139 0.503138 30.6977 0.265581 30.6082C0.265581 30.6082 0.102242 30.4807 0.107039 30.3488V29.6219C0.107039 29.6219 0.335509 29.3343 0.554386 29.3719C0.554386 29.3719 0.731608 29.537 1.23954 29.2443ZM0.344599 31.5026L0.209536 31.6654L0.214332 31.9862H0.270122V32.1232L0.314556 32.1679V32.4251H0.526616C0.526616 32.4251 0.638199 32.2789 0.717469 32.4251C0.717469 32.4251 0.84824 32.9299 1.081 32.9723H1.20243L1.29786 33.0692H1.50058C1.50058 33.0692 1.75707 32.7129 1.65432 32.2316L1.33269 31.3538C1.33269 31.3538 1.28145 31.2171 1.15573 31.3114L1.06257 31.4011H0.782855L0.68263 31.5026H0.344599ZM0.32213 32.7413L0.386757 32.6894C0.386757 32.6894 0.554386 32.8404 0.577864 33.0196C0.577864 33.0196 0.573067 33.5528 0.838899 33.6284H1.28145C1.28145 33.6284 1.34204 33.4774 1.44933 33.5009C1.44933 33.5009 1.57985 33.4728 1.61721 33.619C1.61721 33.619 1.73359 33.5528 1.85956 33.789C1.85956 33.789 2.02719 33.9825 1.87345 34.2419L1.19309 34.9402L1.18829 35.3745H1.25368V35.6993H1.18173V36.0237H1.10751V36.6062C1.10751 36.6062 1.09993 36.8232 0.945938 36.8562H0.815675C0.815675 36.8562 0.629109 36.7808 0.540499 36.3041C0.540499 36.3041 0.186311 35.582 0.120926 34.8789C0.120926 34.8789 0.0976991 34.6383 0 34.6478V34.0389L0.11108 33.9142V33.5968L0.203981 33.4559V33.1359H0.264067V32.9606L0.314556 32.9468L0.32213 32.7413ZM0.628859 39.2862L0.819461 39.0812H1.00981C1.00981 39.0812 1.34683 39.3586 1.33269 39.7325C1.33269 39.7325 1.32108 39.902 1.07015 39.9137C1.07015 39.9137 0.970426 39.9725 0.970426 40.0219H0.863387V39.9559H0.69879V40.0242H0.512729V39.97H0.426896V39.4105L0.497582 39.2862H0.628859ZM0.661679 42.0283H0.582406V42.2407H0.642745V42.7688L0.589474 42.7921V42.9662L0.778309 43.0288C0.97396 43.0145 0.959825 42.8069 0.959825 42.8069C0.959825 42.5899 1.17441 42.4764 1.17441 42.4764C1.56596 42.3113 1.7803 42.0235 1.7803 42.0235V41.7073C1.69648 41.6743 1.68234 41.5327 1.68234 41.5327C1.54249 41.1647 1.40288 41.0514 1.40288 41.0514H1.235V41.1128H1.09514L0.736402 40.6785C0.596291 40.4899 0.442547 40.6031 0.442547 40.6031C0.256237 40.6693 0.312029 40.8296 0.312029 40.8296C0.0838123 41.0798 0.67102 41.7262 0.67102 41.7262L0.661679 42.0283ZM1.28625 43.005L1.35138 42.972H1.73839L1.8992 43.1348L1.87345 43.5855C1.87345 43.5855 1.77575 43.9017 1.54249 43.996C1.54249 43.996 1.31427 43.8168 1.28625 43.6044V43.005ZM0.381961 44.4586C0.45189 44.3086 0.551103 44.2301 0.670766 44.2005H0.913626C0.913626 44.2005 1.25898 44.3042 1.23576 44.5264L1.57656 44.796C1.57656 44.796 1.82397 44.6858 1.87774 45.034V45.3509L1.60787 45.8601C1.60787 45.8601 1.55662 46.0301 1.75227 46.3698L1.77095 47.1343C1.77095 47.1343 2.17412 47.8778 1.69774 48.3504L1.58237 48.3193L1.22566 48.7576C1.22566 48.7576 1.31881 49.0878 0.820216 49.3475L0.391302 49.6967L0.111584 48.9557V48.0593L0.200195 47.8656L0.204991 45.8082L0.381961 44.4586ZM0.107039 50.3385L0.326167 49.8853H0.475117C0.475117 49.8853 0.922714 50.4563 1.41676 49.791H1.74293L1.76641 50.9001L1.23954 51.537V52.2451C1.23954 52.2451 1.61241 52.7734 1.66366 53.0142V53.2596C1.66366 53.2596 1.79898 53.4152 1.73839 53.6228C1.73839 53.6228 1.59853 54.1751 1.44933 54.4535V55.1802C1.44933 55.1802 1.63589 55.5293 1.6263 55.7985V56.3268L1.57051 56.3457V56.8459C1.57051 56.8459 1.3794 57.2188 1.20697 57.2567H0.936597L0.750289 57.011V56.6619C0.750289 56.6619 0.88535 56.2703 0.689699 55.8644L0.419322 55.1566C0.419322 55.1566 0.433208 54.6232 0.214332 54.3875V53.9625C0.214332 53.9625 0.116379 53.6087 0.00908715 53.5898V52.948L0.107039 52.6461V50.3385ZM1.86891 58.2522H1.65432C1.16507 58.3939 0.992641 58.7808 0.992641 58.7808C0.89469 59.1205 1.24434 59.5924 1.24434 59.5924C1.51926 60.0123 1.69648 60.0077 1.69648 60.0077L2.35816 60.8101H2.80096L3.67268 61.5649L4.28311 61.7065L4.87991 61.9659H5.53704C6.14747 62.3059 6.33378 61.8056 6.33378 61.8056C6.48323 61.5792 6.05886 61.3502 6.05886 61.3502H5.7024L5.59283 61.4611H4.90768C4.45099 60.8476 3.97562 60.4796 3.97562 60.4796H3.72847C3.53736 60.6071 3.29981 60.6352 3.29981 60.6352C2.92214 60.6779 2.7684 60.0123 2.7684 60.0123C2.55861 59.5453 1.99008 59.1205 1.99008 59.1205V58.3939L1.86891 58.2522ZM8.04465 62.2473H7.98154C7.98154 62.2473 7.72025 62.597 7.54278 62.0771L7.73893 61.7839H8.02824L8.14513 61.902H9.29126L9.38215 61.9991H10.5283L11.144 62.2115H12.9708L13.232 62.1124H13.6748L13.7751 62.0109H14.029L14.099 61.8908H15.0171L15.1267 62.0014H15.7722L15.8828 62.1137H16.4851L16.7416 62.4429H16.9396L17.1844 62.2305H17.2963L17.6853 61.8363C17.6853 61.8363 17.7764 61.5224 17.9908 61.5273C17.9908 61.5273 18.1725 61.5508 18.1632 61.7538C18.1632 61.7538 18.1445 62.2491 18.452 62.4475C18.452 62.4475 18.8622 62.7166 19.2119 62.3483L19.4775 62.1172L19.6312 62.2256H20.0134L20.1346 62.3483H20.5072L20.6839 62.2555H20.9371L21.2669 61.9968H21.6488L21.7702 62.1198H22.8008L22.8555 62.0641H23.1082V62.1361H24.8095V62.0559H25.3361V62.1313H25.7976L25.9466 62.2256H27.1634L27.2053 62.1832H27.8389V62.2305H28.6733C28.6733 62.2305 28.8692 62.3718 28.566 62.6266L28.6026 62.8304C28.6642 63.1734 29.8199 63.2644 29.7321 62.9444L29.3822 62.6719L28.9995 62.3248C28.9995 62.3248 28.9762 62.2115 29.1254 62.1972H29.9924L30.1345 62.3411H30.4165C30.4165 62.3411 30.5422 62.5985 30.7103 62.3411H31.0365L31.1355 62.2409H31.4142L31.4887 62.1218H31.6889L31.7404 62.0086H31.8893V61.8811H35.2547V61.9659H35.5435V62.051H37.366L37.4125 61.9424H38.8388L38.8683 61.9945H39.1337L39.5192 62.3531H40.2828L40.3487 62.2256H40.8708C40.8708 62.2256 40.9594 62.3248 40.8708 62.4853C40.8708 62.4853 40.1437 63.3487 39.4167 63.4809H38.9645L38.8295 63.382H38.1395L37.6806 62.917H37.1981C37.1981 62.917 36.6155 63.7217 35.2777 63.7073C35.2777 63.7073 34.765 63.6271 34.8816 62.9382L34.8864 62.7212L34.3222 62.6458L34.0846 62.7353V63.122C34.0846 63.122 33.8978 63.5944 33.3343 63.6979H30.645C30.645 63.6979 30.2766 63.9433 30.0295 64H29.9131L29.8013 63.9387H29.419V63.8538H28.7947V63.7876H27.2664V63.8773H26.765V63.9512H26.0915V63.8829C26.0915 63.8829 25.9786 63.8967 25.9751 63.8829C25.9716 63.8691 25.9751 63.7983 25.9751 63.7983H24.4427L24.2438 63.682H23.7331L23.7015 63.6498H23.469L23.4511 63.5821H22.5165L22.3701 63.7066H22.0775L22.0093 63.8262H21.4665L21.3646 63.7229H21.123L21.0452 63.5867H20.5547L20.5337 63.6659H20.1518V63.5821H19.9064L19.8221 63.4967H18.891L18.7835 63.6059H17.9564V63.5026H17.7987L17.7378 63.4303L17.7212 63.3666H16.8653V63.3198H16.7707V63.2692H16.4309L16.3147 63.1514H14.2335V63.2196H14.0919V63.2904H13.3787V63.3372H13.1419L13.1283 63.3881H12.9329L12.8304 63.295H12.3591L12.273 63.1749H12.013L11.8887 63.0492H10.0393L9.80627 62.9666H9.09309L8.67351 62.6788C8.67351 62.6788 8.2456 62.2875 8.04465 62.2473ZM42.9513 62.7281L43.1406 62.5512H44.1287L44.2267 62.6504H44.6508L44.7581 62.5418H45.0562C45.0562 62.5418 45.1728 62.4521 45.1496 62.4475C45.1261 62.4429 45.4758 62.4475 45.4758 62.4475C45.4758 62.4475 46.0537 62.792 46.4874 62.6599L46.5848 62.5748L46.8489 62.5034L47.0478 62.4495H47.3028L47.4111 62.3399H47.7037C47.7037 62.3399 48.0624 62.6315 47.7597 63.0374C47.7597 63.0374 47.5126 63.3866 47.014 63.4668C47.014 63.4668 46.4078 63.5046 46.1938 63.443H45.4374V63.4926H45.0557C45.0557 63.4926 44.9709 63.6478 44.8315 63.5537C44.8315 63.5537 44.2415 63.1798 44.0557 63.1422L43.9419 63.1491L43.8606 63.0668H43.0219L42.9513 62.9952V62.7281ZM50.3138 62.004L50.3996 62.1149L51.081 62.1241L51.6215 62.6711H52.3324L53.0698 62.2282H53.9663L54.405 62.4551H55.5512L55.6095 62.3227H56.6082C56.6082 62.3227 57.3837 62.5686 57.2577 62.9799C57.2577 62.9799 57.0008 63.3344 56.6923 63.1358L56.1725 63.1412L56.0397 63.2756H55.8183L53.686 63.9203H52.9221L52.7954 63.7919H50.44L50.3337 63.6843H50.1194L49.9558 63.5187C49.9558 63.5187 50.362 63.0129 50.0353 62.5308C50.0353 62.5308 49.7498 62.3248 49.9361 62.1786C49.9361 62.1786 50.1318 61.9851 50.3138 62.004ZM58.2837 62.1305C58.2365 62.3199 58.3647 62.6144 58.47 62.78C58.5036 62.8329 58.5392 62.8741 58.572 62.9058C58.6222 62.9548 58.6924 63.0034 58.7611 63.0254C59.059 63.1205 59.5947 62.7795 59.5947 62.7795C59.9537 62.5602 60.0585 62.2816 60.0585 62.2816L60.7941 61.6888V61.2052L60.9352 61.1224V61.0296L61.5482 60.3262L61.8284 59.3984C61.9804 58.9079 61.992 58.3167 61.992 58.3167C62.1318 57.5721 61.6885 57.6311 61.6885 57.6311C61.3321 57.6784 61.4257 58.2517 61.4257 58.2517C61.6007 58.8074 61.4553 59.1098 61.4553 59.1098C60.9643 59.4774 60.4914 60.0011 60.4914 60.0011V60.2495L60.6199 60.6337C60.7658 61.0769 60.1004 61.2482 60.1004 61.2482H59.9486L59.0906 61.9989H58.4135C58.3647 62.0428 58.3322 62.0866 58.2837 62.1305ZM62.3035 53.5517C62.2066 52.9886 62.4823 52.8733 62.4823 52.8733L62.6224 52.3414C62.7274 51.9631 62.6572 51.4547 62.6572 51.4547C62.4355 50.9111 62.6572 50.8165 62.6572 50.8165V50.1662L62.7509 49.9301V48.8187L62.5408 48.5232C62.3073 48.1214 62.4823 47.885 62.4823 47.885C62.6108 47.7196 62.3421 47.3883 62.3421 47.3883C62.2487 46.8684 62.5582 46.3718 62.5582 46.3718V46.106L62.6691 45.9938V45.4261L63.0601 44.6166V44.3505C62.6918 44.0831 62.6398 43.8365 62.6398 43.8365V43.529L62.8382 43.1389C62.6799 42.5301 62.6342 41.7853 62.6342 41.7853C62.529 41.0172 62.8364 40.3074 62.8364 40.3074V39.916C62.6963 39.9278 62.6352 39.7795 62.6352 39.7795V39.5216L62.7928 39.2313V38.9941L62.8443 38.9486V38.3397L62.8034 38.1741C62.6923 37.8848 62.8443 37.6954 62.8443 37.6954C62.9667 37.1399 62.8852 36.7675 62.8852 36.7675C62.8791 36.3598 62.7567 35.887 62.7567 35.887C62.7216 35.7686 62.7567 35.284 62.7567 35.284C62.8617 34.9826 62.5815 34.7521 62.5815 34.7521L61.9978 34.1374C61.9395 33.7591 62.4356 33.5173 62.4356 33.5173H62.5406L62.6865 33.6653H63.1192L63.3413 33.4401V33.2698L63.3893 33.2213V33.0472L63.5564 32.7543H63.6854V33.1137L63.7839 33.2862V33.6172L63.8629 33.7649V34.0103L64 34.1491V34.6102L63.8834 34.7048C63.8425 35.4673 63.358 36.4779 63.358 36.4779V36.6847L63.4686 36.8503C63.4512 36.9861 63.3492 37.1282 63.3492 37.1282V39.2172L63.5506 39.4212V39.8647L63.4863 40.0124H63.352V40.8221L63.434 40.9875L63.4454 42.5715L62.92 43.2335C62.8145 43.5055 63.2411 44.0169 63.2411 44.0169V44.4037L63.5564 44.7643V45.9227L63.7665 46.6141V46.9157L63.3419 47.4275V48.0263L63.2247 48.1449V48.4235L63.1361 48.6416V49.0965C63.3461 49.3744 63.4045 49.6285 63.4045 49.6285C63.5155 49.8887 63.3052 50.2667 63.3052 50.2667V50.6629C63.457 51.3781 63.2295 51.9391 63.2295 51.9391V52.424L63.1298 52.6251V53.358C63.2411 53.4643 63.2351 53.7007 63.2351 53.7007C63.2351 54.1498 62.7683 54.5519 62.7683 54.5519C62.6282 54.6879 62.5229 54.4456 62.5229 54.4456V54.0494L62.3035 53.5517ZM62.6761 31.2662L62.5873 31.3359L62.5989 31.5131C62.5989 31.5131 62.3189 32.0394 62.3189 32.2106V32.7249C62.3189 32.7249 62.3538 33.1387 62.6602 33.0705C62.6602 33.0705 63.0427 32.9731 63.1187 32.6065C63.1187 32.6065 63.352 32.2165 63.457 32.4294C63.457 32.4294 63.638 32.4943 63.6615 32.3407V32.0038C63.6615 32.0038 63.7781 31.9387 63.7665 31.7378L63.6031 31.5016H63.2527L63.1566 31.4039H62.8892C62.8892 31.4039 62.8364 31.2396 62.6761 31.2662ZM62.4113 29.375L62.6047 29.1549L62.9902 29.3737H63.6089L63.8791 29.6472V30.337L63.7021 30.6266H63.4921L63.3754 30.5083H63.1944L63.101 30.414H62.8034L62.6047 30.733H62.453L62.3946 30.5262C62.3946 30.5262 62.2078 30.3667 62.3479 30.2425V29.9411L62.3002 29.9263V29.6594L62.4113 29.5633V29.375ZM62.6292 28.4026C62.6857 28.6022 62.7929 28.7425 62.9505 28.8236L63.6546 28.2723V27.5696L63.5888 27.5032L63.4734 27.5579L63.4413 27.6231H63.2161C63.2161 27.6231 63.1346 27.4362 62.9738 27.4986C62.9738 27.4986 62.6466 27.6052 62.6292 27.8988V28.4026ZM62.4328 26.0135L62.4123 26.3535L62.5989 26.5071L62.7216 26.5485L63.0076 26.7197H63.1245L63.1768 26.844H63.5095L63.5564 26.7318V26.4598L63.4661 26.3683C63.4661 26.3683 63.4045 26.2351 63.5446 26.0462L63.5564 25.8747L63.6496 25.7152V24.5548C63.6496 24.5548 63.3928 24.3557 63.2176 24.3498V24.143L63.5681 23.7885V23.2267C63.5681 23.2267 63.5037 23.0199 63.4221 23.0258H63.2527C63.2527 23.0258 62.9142 23.4513 62.6342 23.5697H62.3946L62.1144 23.7412V24.1279L62.3129 24.5921C62.3129 24.5921 62.4823 25.2482 62.5348 25.591V25.9103L62.4328 26.0135ZM63.2207 22.388L63.3974 22.2577L63.5726 22.4087V22.7024L63.4325 22.7824H63.3244L63.301 22.6817L63.2207 22.6002V22.388ZM61.9778 20.3192L62.1707 20.15H63.0293L63.1391 20.039H63.2952L63.3449 20.1175V20.4168C63.3449 20.4168 63.1901 20.6009 63.0323 20.6009L62.866 20.5947L62.8059 20.5341H62.711L62.6701 20.4467H62.2881C62.2881 20.4467 62.2116 20.5651 62.0453 20.5206L61.9778 20.4851V20.3192ZM62.892 18.659L62.7314 18.8249L63.0442 19.169C63.0442 19.169 63.3186 19.0711 63.2454 18.7805C63.1725 18.4901 62.9649 18.5997 62.892 18.659ZM62.0453 15.508L62.2556 15.268L62.404 15.3083L62.378 15.5317C62.378 15.5317 62.2581 15.8103 62.5941 16.0565C62.5941 16.0565 62.9856 16.1158 63.1608 16.5782C63.1608 16.5782 63.2866 16.925 63.1376 17.3105V17.5564L63.0647 17.6842H62.8834L62.8223 17.5771L62.7491 17.5029V17.3161L62.8513 17.2126V16.8834H62.7955C62.7955 16.8834 62.8455 16.4982 62.454 16.3678C62.454 16.3678 62.3373 16.3558 62.302 16.4862L62.0453 16.4803L61.991 16.4256V16.2551C61.991 16.2551 61.861 16.1424 61.8875 15.9824L61.7792 15.7689L61.9488 15.508H62.0453ZM62.1937 12.8934L61.9867 12.8906V13.1009L62.0495 13.1646H62.2525L62.2816 13.0506L62.1937 12.8934ZM62.6991 12.9823L62.6206 12.9944V13.3174L62.7375 13.3857L62.8569 13.3113V12.9248H62.6991V12.9823ZM61.5015 13.4274C61.195 13.6845 61.4081 13.9772 61.4081 13.9772C61.5656 14.4204 61.8519 14.71 61.8519 14.71L61.9978 14.6923C62.1495 14.8342 62.272 14.71 62.272 14.71C62.3946 14.6036 62.2545 14.4735 62.2545 14.4735C61.9859 14.2785 61.8751 14.06 61.8751 14.06C61.8519 13.6817 61.7585 13.4038 61.7585 13.4038C61.7231 13.2502 61.6007 13.3803 61.6007 13.3803L61.5015 13.4274ZM63.0142 14.1919L63.0192 14.2195V14.8104C63.0192 14.8104 62.9723 14.9939 62.7274 14.9819C62.7274 14.9819 62.5173 14.9405 62.5464 14.6272C62.5464 14.6272 62.7097 14.3082 62.8498 14.1484C62.8498 14.1484 62.9546 14.063 63.0142 14.1919ZM24.3107 2.28049C24.3574 2.42823 24.5035 2.47551 24.5035 2.47551H24.8186C25.4313 1.97326 26.3187 2.12688 26.3187 2.12688L26.453 1.99089H27.0076L27.0811 2.14451H27.4628L27.6206 2.25084H28.6655V2.17416H28.8932L28.928 2.26541H29.2524L29.3461 2.36024H30.1103L30.2357 2.2332V2.0323C30.084 1.77209 30.516 1.55355 30.516 1.55355C30.6384 1.41758 30.6909 1.59496 30.6909 1.59496C30.773 1.9022 30.9487 2.04406 30.9487 2.04406C31.288 2.23321 31.7126 2.04406 31.7126 2.04406H32.9794V1.95255H34.1848L34.2694 2.03818L34.8561 2.02924L34.9874 1.89632L35.2035 1.90808C35.4135 1.86693 35.7056 1.44543 35.7056 1.44543H36.5826L36.701 1.56532H37.0833L37.5134 1.90245H38.1438L38.2142 1.97402H39.0595L39.1049 1.92725H40.0589L40.1069 1.97607H40.3258L40.3985 1.9022H40.9183C41.2101 1.70717 41.4381 1.93185 41.4381 1.93185L42.3078 1.91422L42.3603 1.96738H42.874L42.9439 2.03818L43.8194 2.05581L43.9479 1.92597H44.4907L44.8411 1.4825H45.3899C45.4659 1.80762 45.7987 2.01441 45.7987 2.01441H46.3356L46.505 1.89606H47.8324L47.964 2.02924H49.0301L49.2012 1.92137H49.9654L50.0106 1.96738H50.3926L50.4451 2.00853H51.2393C51.4609 2.31602 51.8113 2.31602 51.8113 2.31602C52.185 2.31602 52.6285 2.01441 52.6285 2.01441L53.1776 2.04636L53.2448 1.92853H53.5747V1.84673H53.7863L53.8085 1.93083H54.0223L54.0859 2.04227H56.1144L56.1394 2.13582H56.5393L56.589 2.08572H57.1762L57.2055 2.0116H57.6172L57.7076 2.13914H57.9588L58.0701 2.25135H58.2953L58.4291 2.32982H58.9189L59.0454 2.45788H59.2483C59.5869 2.56421 60.2874 3.43889 60.2874 3.43889C61.0112 3.92351 61.0375 4.37874 61.0375 4.37874V4.74809L61.1862 4.89864H61.379L61.5656 5.0998C61.8693 5.32422 62.0036 5.67899 62.0036 5.67899C61.9978 5.96859 62.12 6.09844 62.12 6.09844L62.1086 7.34578C62.2139 7.43422 62.453 7.91297 62.453 7.91297V8.79659H62.246L62.0909 8.95327V9.06548L62.3742 9.24006L62.5173 9.09513L62.6342 9.29016V9.85172L62.7857 10.2359C62.8852 10.4723 63.0662 10.49 63.0662 10.49C63.2176 10.4606 63.3411 10.3067 63.3411 10.3067V9.83689L63.434 9.67433V9.30779C63.4103 9.01845 63.1477 8.3682 63.1477 8.3682C63.1767 7.789 63.0076 7.45799 63.0076 7.45799C63.0248 7.21568 62.7317 6.77681 62.7317 6.77681L62.8178 6.68965V6.06623L62.6865 5.93306L62.6807 5.47809C62.5522 4.93417 62.0619 4.66246 62.0619 4.66246C61.4141 4.24276 61.5131 3.68708 61.5131 3.68708L61.7759 3.14341V2.83617C61.6709 2.26873 60.8534 2.16215 60.8534 2.16215C60.4508 2.14451 59.7676 2.13863 59.7676 2.13863C59.0322 2.00265 58.4953 1.75446 58.4953 1.75446C57.8765 1.93185 57.3804 1.0927 57.3804 1.0927H57.0916L57.0737 1.13718H56.8664V1.08683H56.5627L56.4461 0.994804C55.7478 1.07481 55.2076 0.68425 55.2076 0.68425H54.9566L54.7809 0.786747H54.5936L54.4947 0.88694H54.2876C54.2876 0.88694 54.1811 0.956722 54.1897 0.986115C54.1983 1.01577 53.8077 0.986115 53.8077 0.986115L53.685 1.11034H52.5119C52.395 1.26396 52.1814 1.11034 52.1814 1.11034H51.7997L51.6768 0.986115H51.0055L50.8248 1.09245H50.3052L50.206 0.991997H49.2429C49.1495 1.16938 48.8107 0.968479 48.8107 0.968479C48.5072 1.1929 48.227 1.11264 48.227 1.11264H47.6989L47.503 0.997875H46.8085C46.5517 1.25808 45.9504 1.07481 45.9504 1.07481L44.777 0.554661H41.6188C41.0877 0.383152 41.0935 0.743805 41.0935 0.743805V0.991997L40.8915 1.30869L40.7082 1.35853C40.2528 1.47662 39.9554 0.980236 39.9554 0.980236C39.5525 0.477722 38.7818 0.436314 38.7818 0.436314H38.2564C37.6902 0.997871 37.3516 0.879787 37.3516 0.879787C37.0891 0.861897 36.5402 0.349918 36.5402 0.349918H36.3994L36.1583 0.106075H35.9298L35.8253 0H35.5347L35.5448 0.0385933H35.2727L35.2555 0.102493H34.8205V0.156685H34.5744L34.5431 0.124992H34.1452L34.0652 0.00178909H33.5772V0.139046H33.3697L33.3063 0.249977H33.122L33.0319 0.341228H32.8855L32.7926 0.435291H32.5805L32.5093 0.560539H32.1271L32.0337 0.655109H31.7886L31.6601 0.785213H31.0706L30.983 0.873905H30.7028L30.265 1.21667H29.7513C29.5117 1.11622 29.6988 0.891544 29.6988 0.891544V0.442451C29.5468 -0.0127792 29.0507 0.0286255 29.0507 0.0286255C28.6829 0.0462608 28.3499 0.430435 28.3499 0.430435V0.744061L28.4085 0.803616H28.6882L28.7415 0.857548H28.9442L29.0159 0.921192L29.2083 1.09245C29.4827 1.39994 29.1674 1.62436 29.1674 1.62436C28.8404 1.90808 28.461 1.67752 28.461 1.67752L27.559 0.885662H27.1768L27.101 0.808727H26.92L26.8675 0.861893H26.6398C26.377 1.14561 26.1261 0.980236 26.1261 0.980236H25.4081L25.2155 1.18702L25.2506 1.33476C25.1804 2.16215 24.2872 2.15627 24.2872 2.15627L24.3107 2.28049ZM4.93444 5.57522L5.05864 5.60538L5.44767 5.16421C5.44767 5.16421 6.34994 4.74681 6.49005 4.55791C6.49005 4.55791 7.25978 4.59728 7.85102 4.30589C7.85102 4.30589 9.76461 4.98298 10.7679 4.77824C10.7679 4.77824 11.3417 4.6755 11.4621 4.54182C11.4621 4.54182 12.1182 4.53798 12.3199 4.34168H12.7625C12.7625 4.34168 12.8339 4.3381 12.8768 4.42117C12.9198 4.50399 13.1273 4.86439 13.4067 4.91142L14.2136 4.9357L14.2489 4.97046H14.5557V4.92701L15.2504 4.90349L15.5844 4.86438L15.6637 4.78362H16.3256C16.3256 4.78362 16.547 4.95461 16.9078 4.96254C16.9078 4.96254 17.2998 4.92701 17.5093 4.8171H17.8161C17.8161 4.8171 18.2276 5.02133 18.7943 4.87998C18.7943 4.87998 19.2212 4.78949 19.6249 4.47919C19.6249 4.47919 19.8577 4.32583 20.0364 4.31407H20.4244C20.4244 4.31407 21.1076 4.63639 21.4453 4.42398H22.0159C22.0159 4.42398 22.3574 4.86439 22.7222 4.97046H23.1976C23.1976 4.97046 24.4811 4.89659 25.3134 4.0853H25.601C25.601 4.0853 26.3477 4.80202 26.7521 4.32174H27.3747C27.3747 4.32174 27.5898 4.37286 27.7799 4.52622C27.7799 4.52622 28.7579 5.29661 29.2976 4.56175L29.5342 4.58118L29.5614 4.64022H30.0002L30.4193 4.8562H32.8413C32.8413 4.8562 33.1054 4.34167 33.6216 4.10959H34.0758C34.0758 4.10959 34.5724 4.45951 35.0033 4.33759H36.001C36.001 4.33759 36.3617 4.45159 36.7616 4.76598C36.7616 4.76598 36.9401 4.62463 37.2585 4.63639H38.5783L38.6694 4.54386L38.8577 4.51447L38.881 4.44775H39.0789V4.37695H39.3041V4.42398H39.5098C39.5098 4.42398 39.5876 4.45159 39.6651 4.7031C39.6651 4.7031 39.8398 5.06861 40.1776 5.00957C40.1776 5.00957 40.5146 4.95078 40.9965 4.58118C40.9965 4.58118 41.6095 4.35344 41.7377 4.20007H43.2499L44.0744 3.89642H44.5412L45.2102 3.55774H45.5922L45.6772 3.64388H46.2137L46.5275 3.90127H47.0011C47.0011 3.90127 47.2301 3.48489 47.661 3.42968L48.6466 3.87776H49.0972L49.1979 3.98H49.458L49.5433 4.10575H50.079C50.079 4.10575 50.3587 4.322 50.6379 4.32583C50.6379 4.32583 51.3095 4.22742 51.7793 4.21975C51.7793 4.21975 51.9772 3.99968 52.109 3.98H52.6603L52.7883 4.07815H53.6227L53.6987 4.00172H53.9489L54.0226 3.88568H55.0861L55.1909 3.99176H55.8935L55.9422 3.94268H56.7667L56.8104 3.9869H57.9565L58.079 4.08224H58.6339C58.6339 4.08224 58.8979 4.19624 59.0492 4.79358C59.0492 4.79358 59.1385 5.03334 59.344 5.10005C59.344 5.10005 59.5692 5.1706 59.8487 5.3554H60.0547C60.0547 5.3554 60.2213 5.15884 60.3611 5.21788C60.3611 5.21788 60.6989 5.34748 60.6053 5.77996C60.6053 5.77996 60.5517 6.00208 60.4331 6.21346C60.4331 6.21346 60.3311 6.52683 60.6032 6.75508L60.7959 6.96289C60.7959 6.96289 60.9473 7.15536 60.7338 7.61903L60.6911 7.74478V8.43261L60.6174 8.58009V9.26588C60.6174 9.26588 60.8501 9.73337 60.8501 10.2011V10.7315L60.8075 10.775V13.4787L60.9123 13.6515V15.1422L61.0135 15.2746V15.4359C61.0135 15.4359 61.2112 15.5852 61.2228 15.7147V15.9859H61.2889V16.0961L61.3333 16.1411V16.8466C61.3333 16.8466 61.2773 17.0784 60.994 17.1178C60.994 17.1178 60.6989 17.2435 60.6833 17.6601C60.6833 17.6601 60.5901 18.2654 60.3069 18.3912H60.0196C60.0196 18.3912 59.6664 18.6072 59.8217 19.0473L60.0739 19.295L60.3107 19.2715L60.3475 19.3088H60.4505C60.4505 19.3088 60.6833 19.2871 60.7184 19.1651H61.2152L61.4091 19.3617V19.5306C61.4091 19.5306 61.1801 19.8333 60.8577 20.0022C60.8577 20.0022 60.788 20.0181 60.8385 20.2067C60.8385 20.2067 61.0521 20.7685 60.8231 21.3582C60.8231 21.3582 60.8734 21.9556 60.5901 22.5371V23.2131C60.5901 23.2131 61.0135 23.8419 61.1218 24.1681V24.5139C61.1218 24.5139 61.017 25.1112 60.4253 25.2194C60.4253 25.2194 60.3647 25.2168 60.3707 25.2981V25.8671C60.3707 25.8671 61.1569 26.2195 61.0481 26.7578L60.5255 28.3651C60.5255 28.3651 60.3728 28.2396 60.3649 28.3888V28.8801C60.3649 28.8801 60.2758 29.0018 60.4 29.1002L60.6482 28.7817C60.6482 28.7817 60.8264 28.5775 60.9085 28.8446L61.1478 29.7668C61.1478 29.7668 61.3626 30.4009 60.629 30.6249H60.3884V32.1296L60.4876 32.2285V32.4839C60.4876 32.4839 60.3069 32.7354 60.3806 33.0694L60.8115 33.9929L60.788 34.7237C60.788 34.7237 60.3806 35.0736 60.3649 35.3448C60.3649 35.3448 59.8408 35.9647 60.0665 37.1144C60.0665 37.1144 60.2145 37.4216 60.0822 37.6657C60.0822 37.6657 59.8878 38.4691 60.1211 38.8627C60.1211 38.8627 60.1827 39.0547 60.3922 39.31C60.3922 39.31 60.5124 39.377 60.5048 39.6009C60.5048 39.6009 60.6578 40.2961 60.1132 40.9655C60.1132 40.9655 59.7323 41.5956 59.8567 42.1076L60.0433 42.4698V42.9659L59.9966 43.2573L59.9618 43.2874V44.4152L60.167 44.6746V45.0989L60.0779 45.2561C60.0779 45.2561 60.0468 45.6216 59.8527 45.9557C59.8527 45.9557 59.7053 46.2072 59.8759 46.5607C59.8759 46.5607 60.1289 47.2342 60.1443 47.431V48.195L60.3543 48.6756V49.1244L60.471 49.3056V50.5913C60.471 50.5913 60.7234 50.9696 60.471 51.2533L60.0355 51.9437C60.0355 51.9437 59.911 52.1799 59.7088 52.369C59.7088 52.369 59.4599 52.9204 59.6543 53.4244L59.9188 54.0545L59.9342 54.5979C59.9342 54.5979 59.6 55.1255 59.6232 55.653L59.6076 56.3539C59.6076 56.3539 59.5142 56.8738 59.242 57.3382V58.3778C59.242 58.3778 59.1489 58.9529 58.5538 59.0748L57.951 59.063C57.951 59.063 57.904 59.1811 57.3597 59.063H56.5585C56.5585 59.063 55.847 59.1011 56.1964 59.8871L56.3633 60.0916C56.3633 60.0916 56.4565 60.2961 56.3282 60.3786H56.045C56.045 60.3786 55.6877 60.0522 55.4822 59.9382H54.8261L53.3745 59.5021H52.4904L52.0628 59.8349H51.6116C51.6116 59.8349 51.1449 59.5198 50.7326 59.7169L49.6438 60.0553H47.6105L47.397 59.9344H45.1612C45.1612 59.9344 44.7045 59.6144 44.5256 59.5908C44.5256 59.5908 43.7477 59.3938 42.9699 59.9451C42.9699 59.9451 42.721 59.9766 42.534 59.8508L42.1687 59.7169H41.4843C41.4843 59.7169 40.3798 59.6931 39.7186 60.3704H39.2286L38.7775 59.9765H38.3955C38.3955 59.9765 36.6851 59.8112 36.1795 60.0476L35.433 59.9216L34.7483 59.4883H34.227L33.4103 58.8741H31.0926C31.0926 58.8741 30.9057 58.8897 31.0537 59.0395L31.2072 59.2586V59.404C31.2072 59.404 30.9512 59.7184 30.6212 59.5806H30.3302C30.3302 59.5806 30.1254 59.6494 29.8906 59.608L29.8507 59.5448C29.8507 59.5448 29.1123 59.6939 28.7894 59.5556L28.7814 59.4904H28.3196L28.234 59.6121H27.974L27.8614 59.7261H26.4252L26.3303 59.6297C26.3303 59.6297 25.8585 59.5571 25.2453 59.1563H24.3796L24.3485 59.1249H23.7936L23.6285 59.0817L23.5374 59.1885L23.7616 59.2261C23.7616 59.2261 23.8944 59.2742 23.7702 59.4628C23.7702 59.4628 23.6538 59.8007 23.4985 59.8245H22.668C22.668 59.8245 22.0005 59.7066 21.8139 59.4904H20.9096C20.9096 59.4904 20.1954 59.8833 19.3921 59.278C19.3921 59.278 19.2755 59.1484 18.9029 59.3214L17.6959 59.7733C17.6959 59.7733 17.5798 59.8753 17.3137 59.7733C17.3137 59.7733 16.6439 59.8165 16.1045 59.2821H15.6735C15.6735 59.2821 15.5998 59.3882 15.5804 59.3764C15.5609 59.3646 15.3319 59.3764 15.3319 59.3764L15.2272 59.5216H14.1288L14.049 59.6023H12.9147C12.9147 59.6023 12.4015 59.3782 11.4914 59.4255C11.4914 59.4255 10.8146 59.5829 10.2857 59.3703C10.2857 59.3703 9.58562 59.0709 8.94767 59.0081C8.94767 59.0081 8.55107 58.9764 8.13124 58.7796H7.18859C7.18859 58.7796 7.00631 58.9922 6.5365 58.7796C6.5365 58.7796 5.88442 58.7987 5.67084 59.0582C5.67084 59.0582 5.55825 59.121 5.49236 58.9794V58.7673L5.85715 58.2957C5.85715 58.2957 6.02402 58.0912 5.6514 57.8121C5.6514 57.8121 5.44969 57.832 5.21693 57.6393C5.21693 57.6393 4.95665 57.4154 4.70445 57.3564H4.2619C4.2619 57.3564 4.11447 57.5371 3.84258 57.49C3.84258 57.49 3.77669 57.4428 3.85445 57.3602C3.85445 57.3602 3.99026 56.9908 4.20762 56.8651C4.20762 56.8651 4.21924 56.5548 4.66961 56.3227L4.84027 56.1617V56.028L4.95665 55.9454V55.3519C4.95665 55.3519 4.8327 54.9905 4.39394 54.8412C4.39394 54.8412 4.23085 54.7822 4.27351 54.5386C4.27351 54.5386 4.35127 54.3223 4.57646 54.1769C4.57646 54.1769 4.74333 54.067 4.65775 53.7526L4.54515 53.4638V52.8968L4.47901 52.8296V52.2745C4.47901 52.2745 4.66987 51.9831 4.55298 51.8177L3.95416 51.0616C3.95416 51.0616 3.83753 50.9594 4.02409 50.794C4.02409 50.794 4.35506 50.4594 4.32022 50.1409L3.98648 49.8069C3.98648 49.8069 3.85823 49.6852 4.03293 49.3943V48.6791C4.03293 48.6791 4.04833 48.3921 4.40176 48.4039C4.40176 48.4039 4.49088 47.6675 4.15638 46.6752C4.15638 46.6752 3.90746 45.982 3.94634 45.5097L4.10967 45.1789V44.4308C4.10967 44.4308 4.06297 44.226 4.37424 43.9581C4.37424 43.9581 4.35077 43.5328 5.06647 42.0365C5.06647 42.0365 5.15205 41.8003 4.91096 41.4379C4.91096 41.4379 4.82538 41.3566 4.70268 41.4297C4.70268 41.4297 4.67138 41.4476 4.62468 41.5187C4.57797 41.5897 4.54112 41.669 4.43004 41.6531C4.43004 41.6531 4.23338 41.6056 4.33865 41.1767C4.33865 41.1767 4.41438 40.7698 4.56232 40.5919L4.56056 40.4594L4.01627 39.422C4.01627 39.422 3.71307 39.0912 3.84536 38.477L3.93068 37.9177L3.61966 37.3902V37.1302L4.38964 36.5947C4.38964 36.5947 4.50653 36.5081 4.31971 36.1459C4.13315 35.7834 3.93068 35.3584 3.93068 35.3584V34.9716L4.32325 34.5742L4.38207 34.3582L4.58807 34.1494V30.8679C4.58807 30.8679 4.0708 30.4283 4.43635 29.822L4.56863 29.8693V29.0107C4.56863 29.0107 4.12507 28.7352 4.48305 28.1445C4.48305 28.1445 4.37424 27.3176 4.60751 26.6719L4.79408 25.1912L4.94201 24.5533C4.94201 24.5533 4.90313 24.4037 4.74762 24.4983C4.74762 24.4983 4.59969 24.7974 4.38207 24.5377C4.38207 24.5377 4.25761 24.4116 4.39747 24.1911C4.39747 24.1911 4.12507 23.7422 4.35077 23.5927C4.35077 23.5927 4.49088 23.4588 4.65422 23.6949C4.65422 23.6949 4.85643 23.9707 4.94984 23.813V22.7893L4.67971 22.5158C4.67971 22.5158 4.52976 22.3246 4.75545 22.0726V21.4743L4.67365 21.3914C4.67365 21.3914 4.62316 19.0407 4.8486 18.2767V17.8437L4.44418 17.4339C4.44418 17.4339 4.28866 17.3866 4.63856 17.0638C4.63856 17.0638 4.65421 16.5283 5.03516 15.9773V14.8587L5.10913 14.7841V14.4886C5.10913 14.4886 5.09752 14.0712 4.96524 13.8506V13.2367C4.96524 13.2367 5.03517 12.9136 5.46307 13.1104H5.61278V12.406H5.26338C5.26338 12.406 5.09247 12.5943 4.87133 12.512C4.87133 12.512 4.73147 12.4098 4.73147 12.1268V11.4469C4.73147 11.4469 5.06924 10.9518 4.96448 10.5234C4.96448 10.5234 4.85188 10.3346 4.94504 10.2443C4.94504 10.2443 5.03819 10.1303 5.17023 10.2484C5.17023 10.2484 5.50018 10.3504 5.58955 9.97722V9.72954L5.48453 9.62346H5.25555C5.25555 9.62346 4.87915 9.38754 4.84431 8.88451V8.04665C4.84431 8.04665 5.00411 7.65276 5.23763 7.44802V7.1252L4.76302 6.06189V5.75491L4.93444 5.57522Z" fill="#CA322B"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M46.6581 12.0408C46.1602 10.3261 39.6416 11.2469 39.6416 11.2469C37.1209 11.5643 32.6403 12.0564 32.6403 12.0564C32.0446 12.2932 31.718 12.5935 31.6607 12.9573V13.6154C31.6607 14.5002 33.6841 14.5961 33.6981 14.5967H35.4095L35.8968 17.4794L36.561 18.0892C36.5299 19.2163 37.3391 20.8358 37.3391 20.8358C37.9613 23.0109 38.0176 25.4707 38.0176 25.4707C38.072 25.7476 38.1631 25.8363 38.1634 25.8366C39.3897 28.4024 39.2925 31.2056 39.2921 31.2183V42.6866C39.2846 43.7211 39.323 44.4018 39.3233 44.4073C39.401 45.2636 39.8361 45.9774 39.8361 45.9774C40.2773 46.7122 40.379 47.2738 40.3798 47.2781L39.7042 47.6429L38.2313 47.3403L38.1926 47.0792C38.1926 47.0792 37.8 44.4469 37.7922 44.1615C37.7844 43.8761 37.5746 43.7569 37.5746 43.7569L36.6657 42.6626C36.5257 42.5757 36.2146 42.6706 36.2146 42.6706C35.3783 42.9315 35.4559 44.6062 35.4564 44.6173C35.5498 48.4908 35.4453 52.9162 35.4453 52.9162C35.3218 53.7043 35.3287 54.3513 35.3288 54.3592C35.9659 55.9295 36.9812 56 36.9812 56C41.1319 55.8572 43.8387 54.1534 43.8429 54.1507L44.0132 54.3807L44.6201 55.3489H46.1135C46.9536 55.1427 47.1249 54.0154 47.1249 54.0154C47.5915 47.9195 47.4909 43.3605 47.4909 43.3605L47.1179 41.719H46.737C46.3894 41.4902 45.8803 41.5127 45.8744 41.5129C45.1906 41.8143 45.0815 42.4247 45.0815 42.4247V43.7253L45.1905 45.2795C45.26 46.0047 44.7845 46.1346 44.7788 46.1361L42.012 46.715C41.6486 46.8018 41.7778 46.48 41.779 46.4769L41.9885 45.5572V43.8365C41.903 43.1564 41.5867 41.9323 41.5849 41.9252C41.476 41.0146 41.803 40.1903 41.804 40.1879L41.9905 30.5515L41.9885 25.5498C41.9733 25.1671 41.6239 24.742 41.4983 24.5893L41.4927 24.5824C41.3726 24.4362 41.353 24.2331 41.353 24.2331C41.1818 22.8677 42.8307 20.8833 42.8307 20.8833C42.7533 18.2409 44.0667 16.3556 44.0755 16.3431L44.0947 14.8603C44.3816 14.0778 45.5717 13.6338 45.5792 13.631C46.6981 13.2687 46.6586 12.9064 46.6581 12.9017V12.0408ZM44.5613 49.5063C44.2125 48.779 41.3606 49.3916 41.344 49.3952L40.124 49.507L38.2256 50.5387L37.7922 53.0591C37.7691 53.2649 37.87 53.2493 37.87 53.2493L39.7663 53.1937C40.7868 53.0753 41.1842 52.3914 41.188 52.3848H42.2453L42.7347 51.7186H43.7452C44.4677 51.0765 44.6387 50.5133 44.6387 50.5133V49.7204C44.6157 49.5645 44.563 49.5081 44.5613 49.5063ZM42.2453 13.6548C42.3462 13.3853 42.1285 13.4725 42.1285 13.4725C41.9028 13.5597 41.4914 13.6389 41.4914 13.6389C41.1259 13.7262 40.0381 13.7422 40.0381 13.7422C38.5943 13.8524 38.2628 14.4636 38.2585 14.4716C38.0411 15.0504 38.2585 15.4075 38.2585 15.4075L38.8256 16.1529L38.8181 17.4613C39.0355 17.7388 39.2688 18.4446 39.2688 18.4446C39.4863 19.1665 40.1081 19.5151 40.1081 19.5151C40.3627 19.7198 40.4106 19.4712 40.4112 19.4676L41.7011 15.236L42.2453 13.6548Z" fill="white" fill-opacity="0.9"/>
                    <path d="M23.7028 12.4692H22.6679C22.2946 12.4535 21.9356 12.8342 21.9356 12.8342C21.8786 13.6014 21.7759 14.3532 21.7189 15.1204V16.8668C22.1835 19.2378 21.3941 20.1258 21.3871 20.1336C21.0608 20.6808 20.5519 21.296 20.5519 21.296C19.4188 22.8486 17.6964 25.4291 17.6893 25.4398C15.107 29.4085 14.5 31.3069 14.5 31.3069V32.687H15.8384C16.543 32.442 16.5071 31.0556 16.5068 31.0454C16.4758 30.7996 16.5923 30.728 16.5923 30.728C17.1518 30.3712 18.1931 28.809 18.1931 28.809L19.6961 26.6464C20.6871 25.098 21.6113 24.7622 21.6201 24.759C21.938 24.5718 21.8907 25.0274 21.89 25.0343V31.2183L21.4647 35.9938C21.4103 36.1199 20.8407 36.5055 20.8355 36.509L20.8665 37.532C20.7972 37.6732 20.6599 37.6205 20.6567 37.6193L19.6028 41.0452C18.2027 45.9665 17.7671 46.8498 17.7671 46.8498L17.7345 47.0717L17.0741 50.8307C16.9975 51.0963 17.1248 51.0848 17.1284 51.0845L17.7735 51.4094H18.1308C18.5429 51.2746 18.605 50.9972 18.605 50.9972L19.6929 48.4674L19.7332 47.3522L20.1985 46.9842C20.2861 46.8989 20.2355 46.8895 20.2335 46.8892C20.0592 46.8102 20.1749 46.5721 20.1749 46.5721L21.2055 44.0457C21.8735 42.0323 22.4969 40.0209 22.4987 40.0152C22.7106 39.621 22.7908 39.897 22.7922 39.9021L23.5081 41.4421C23.757 42.7598 24.0058 45.6492 24.0058 45.6492L24.6438 46.4113C24.6592 49.4877 25.6528 50.9326 25.6549 50.9357L25.9185 54.5187L26.7448 55.2311L27.0859 55.223C27.5048 55.0884 27.7396 55.1904 27.7396 55.1904C27.8947 54.9688 28.235 53.566 28.2377 53.555C28.2377 52.5721 28.024 49.2117 28.0236 49.2048C28.0313 49.0412 27.9715 49.0155 27.9695 49.0146C27.5113 49.0779 27.4287 48.6505 27.4286 48.6497L26.5782 43.2327C26.5432 42.9004 26.4424 42.9756 26.4424 42.9756C26.2747 43.0672 26.2679 42.7553 26.2656 42.6042C26.2402 40.8914 25.4061 39.3308 25.4061 39.3308C24.5847 37.8913 24.0411 36.9681 24.037 36.9612C23.8117 36.4933 24.177 36.1759 24.177 36.1759L25.2503 34.9332L24.8064 25.1136C24.8064 24.845 25.0848 24.9938 25.0865 24.9947C26.5938 26.1763 26.3998 28.1986 26.3998 28.1986C27.0421 28.6884 27.1679 29.1626 27.1688 29.166C27.5186 30.3713 27.8372 31.1088 27.8372 31.1088C28.5963 32.7136 30.3751 32.293 30.3862 32.2903C30.5325 32.2038 30.5338 31.86 30.5338 31.8541C30.5494 31.6719 30.6271 31.5925 30.6271 31.5925C30.8447 31.2911 31.1937 31.2592 31.1937 31.2592V30.2658C30.0609 29.9333 29.5318 28.0059 29.529 27.9957C29.2644 26.8684 28.7821 25.3125 28.7821 25.3125C27.3242 21.7831 24.9489 20.2547 24.9344 20.2454C24.8895 20.1937 24.8615 20.0737 24.8615 20.0737L24.7752 14.3768C24.9775 14.3052 24.9697 14.2495 24.9697 14.2495C24.3124 12.3401 23.7088 12.4679 23.7028 12.4692Z" fill="white" fill-opacity="0.9"/>
                  </svg>
                </div>
              {%- endif -%}
            </span>
          </a>
        {% endif %}
        {%- if link.links != blank -%}
          {% comment %}
            <div class="menu-list__submenu{{ color_scheme_classes }}">
              <div
                id="submenu-{{ forloop.index }}"
                class="menu-list__submenu-inner"
              >
                {% assign list_id = 'MegaMenuList-' | append: forloop.index %}
                {% render 'mega-menu',
                  section: section,
                  parent_link: link,
                  id: list_id,
                  menu_content_type: menu_content_type,
                  content_aspect_ratio: ratio,
                  image_border_radius: image_border_radius
                %}
              </div>
            </div>
          {% endcomment %}
          <div
            id="header-dropdown-back-{{ forloop.index }}"
            class="header-dropdown-back"
            onclick="closeMenu({{ forloop.index }})"
          ></div>
          <div id="submenu-{{ forloop.index }}" class="header-dropdown">
            <div class="dropdown-header">
              <div class="dropdown-header-left" onclick="closeMenu({{ forloop.index }})">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                  <g clip-path="url(#clip0_4030_59197)">
                    <path d="M15.625 4.375L4.375 15.625" stroke="#F9F9F7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M15.625 15.625L4.375 4.375" stroke="#F9F9F7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </g>
                  <defs>
                    <clipPath id="clip0_4030_59197">
                      <rect width="20" height="20" fill="white"/>
                    </clipPath>
                  </defs>
                </svg>
                <span>CLOSE</span>
              </div>
              <div class="dropdown-header-center"><a href="/">XINZUO</a></div>
              <div class="dropdown-header-right">
                {% render 'cart-drawer' %}
                {% render 'search', style: 'default', class: 'custom-class' %}
              </div>
            </div>
            <ul>
              {% for sublink in link.links %}
                <li class="menu-dropdown-list">
                  {% if sublink.url contains '/collections/' %}
                    <a href="/collections" class="mega-dropdown">
                      <span class="mega-dropdown-title">
                        {{ sublink.title }}
                      </span>
                    </a>
                  {% else %}
                    <a href="{{ sublink.url }}" class="mega-dropdown">
                      <span class="mega-dropdown-title">
                        {{ sublink.title }}
                      </span>
                    </a>
                  {% endif %}
                  {% if sublink.links != blank %}
                    <ul
                      class="list-unstyled"
                      {% if should_break_columns %}
                        style="column-count: {{ column_span }};"
                      {% endif %}
                    >
                      {% for childLink in sublink.links limit: 5 %}
                        {% assign break_after_modulo = forloop.index | modulo: 10 %}
                        <li
                          {% if break_after_modulo == 0 and should_break_columns %}
                            style="break-after: column;"
                          {% endif %}
                        >
                          <a href="{{ childLink.url }}">
                            <span class="mega-menu__link-title wrap-text">{{- childLink.title -}}</span>
                          </a>
                        </li>
                      {% endfor %}
                      {% if sublink.links.size > 5 %}
                        <a href="{{ sublink.url }}">view all</a>
                      {% endif %}
                    </ul>
                  {% endif %}
                  {% assign collection_handle = sublink.url | split: '/' | last %}
                  {% assign collection = collections[collection_handle] %}
                  {% if collection != blank %}
                    <ul
                      class="list-unstyled"
                      {% if should_break_columns %}
                        style="column-count: {{ column_span }};"
                      {% endif %}
                    >
                      {% for product in collection.products limit: 5 %}
                        {% assign break_after_modulo = forloop.index | modulo: 10 %}
                        <li
                          {% if break_after_modulo == 0 and should_break_columns %}
                            style="break-after: column;"
                          {% endif %}
                        >
                          <a href="{{ product.url }}">
                            <span class="mega-menu__link-title wrap-text">{{- product.title -}}</span>
                          </a>
                        </li>
                      {% endfor %}
                      {% if sublink.links.size > 5 %}
                        <a href="{{ sublink.url }}">view all</a>
                      {% endif %}
                    </ul>
                    {% if collection.featured_image != blank %}
                      <img
                        src="{{ collection.featured_image | img_url: 'master' }}"
                        width="100%"
                        height="100%"
                        alt="{{ collection.title | escape }}"
                      >
                    {% else %}
                      {% assign firstimage = collection.products.first %}
                      <img
                        src="{{ firstimage.featured_image | img_url: 'master' }}"
                        width="100%"
                        height="100%"
                        alt="{{ firstimage.title | escape }}"
                      >
                    {% endif %}
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          </div>
        {%- endif -%}
      </li>
    {% endfor %}
    {% comment %}
      {% assign class = 'overflow-menu' | append: color_scheme_classes %}
      {% render 'overflow-list', class: class, ref: 'overflowMenu', children: children, minimum-items: 2, defer: false %}
    {% endcomment %}
  </div>
</nav>

{% style %}
  .header-dropdown-back {
    backdrop-filter: blur(5px);
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 1;
    display: none;
  }

  .header-dropdown {
    width: 100%;
    background-color: #111111;
    padding: 0 32px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }

  .dropdown-header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .dropdown-header-left {
    display: flex;
    align-items: center;
    gap: 32px;
    font-family: "Sen";
    font-weight: 400;
    font-size: 16px;
    color: #f9f9f7;
    cursor: pointer;
  }

  .dropdown-header-center {
    font-family: "Sen";
    font-weight: 500;
    font-size: 22px;
    color: #c1c4c7;
  }

  .dropdown-header-right {
    display: flex;
  }

  .dropdown-header-right search-button {
    margin: 0 !important;
  }

  .header-dropdown > ul {
    display: flex;
    padding: 48px 0;
    list-style: none;
    margin: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
  }

  .header-dropdown > ul > li {
    width: 25%;
    padding: 0 32px;
    display: flex;
    flex-direction: column;
    border-left: 1px solid rgba(255, 255, 255, 0.05);
  }

  .header-dropdown > ul > li:first-child {
    border: none;
  }

  .header-dropdown > ul > li a {
    display: block;
    font-family: "Sen";
    font-weight: 600;
    font-size: 16px;
    color: #56565b;
    margin-bottom: 24px;
  }

  .header-dropdown > ul > li > a::after {
    content: ".";
    color: #CA322B;
  }

  .header-dropdown > ul > li ul li a {
    font-family: "Sen";
    font-weight: 400;
    font-size: 16px;
    color: #c1c4c7;
    margin-bottom: 17px;
    width: fit-content;
    position: relative;
    transition: all 0.3s ease;
  }

  .header-dropdown > ul > li ul li a::after {
    content: '';
    position: absolute;
    left: -20px;
    opacity: 0;
    transform: translateX(-5px);
    transition: all 0.3s ease;
  }

  .header-dropdown > ul > li ul li a:hover {
    border-bottom: 1px solid grey;
    left: 20px;
  }

  .header-dropdown > ul > li ul li a:hover::after {
    opacity: 1;
    transform: translateX(0);
  }

  .header-dropdown > ul > li img {
    width: 100%;
    margin-top: auto;
    max-height: 200px;
    object-fit: cover;
  }
{% endstyle %}

<script>
  const openMenu = (num) => {
    const menu = document.querySelector(`#submenu-${num}`);
    const back = document.querySelector(`#header-dropdown-back-${num}`);
    menu.style.maxHeight = menu.scrollHeight + 'px';
    back.style.display = 'block';
    document.body.style.overflow = "hidden";
  };
  const closeMenu = (num) => {
    const menu = document.querySelector(`#submenu-${num}`);
    const back = document.querySelector(`#header-dropdown-back-${num}`);
    menu.style.maxHeight = 0;
    back.style.display = 'none';
    document.body.style.overflow = ""
  };
</script>
