{% comment %}
    Renders a product media gallery. Should be used with 'media-gallery.js'
    Also see 'product-media-modal'

    Accepts:
    - product: {Object} Product liquid object
    - variant_images: {Array} Product images associated with a variant
    - is_duplicate: {Boolean} Prevents rendering uneeded elements and duplicate ids for subsequent instances

    Usage:
    {% render 'product-media-gallery', is_duplicate: true %}
{% endcomment %}

{%- liquid
    if section.settings.hide_variants and variant_images.size == product.media.size
        assign single_media_visible = true
    endif

    assign media_count = product.media.size
    if section.settings.hide_variants and media_count > 1 and variant_images.size > 0
        assign media_count = media_count | minus: variant_images.size | plus: 1
    endif

    if media_count == 1 or single_media_visible
        assign single_media_visible_mobile = true
    endif

    if media_count == 0 or single_media_visible_mobile or section.settings.mobile_thumbnails == 'show' or section.settings.mobile_thumbnails == 'columns' and media_count < 3
        assign hide_mobile_slider = true
    endif

    if section.settings.media_size == 'large'
        assign media_width = 0.65
    elsif section.settings.media_size == 'medium'
        assign media_width = 0.55
    elsif section.settings.media_size == 'small'
        assign media_width = 0.45
    endif

    assign id_append = ''
    if is_duplicate
        assign id_append = '-duplicate'
    endif
-%}

<media-gallery
    id="MediaGallery-{{ section.id }}{{ id_append }}"
    role="region"
    {% if section.settings.enable_sticky_info %}
        class="product__column-sticky"
    {% endif %}
    aria-label="gallery_viewer"
    data-desktop-layout="{{ section.settings.gallery_layout }}"
>
    <div id="GalleryStatus-{{ section.id }}" class="visually-hidden" role="status"></div>
    <slider-component id="GalleryViewer-{{ section.id }}{{ id_append }}" class="main-slider slider-mobile-gutter">
        {%- unless is_duplicate -%}
        <a class="skip-to-content-link button visually-hidden quick-add-hidden" href="#ProductInfo-{{ section.id }}">
            {{ skip_to_product_info }}
        </a>
        {%- endunless -%}
        <ul
            id="Slider-Gallery-{{ section.id }}{{ id_append }}"
            class="product__media-list contains-media grid grid--peek list-unstyled slider slider--mobile"
            role="list"
        >
        {%- if product.selected_or_first_available_variant.featured_media != null -%}
            {%- assign featured_media = product.selected_or_first_available_variant.featured_media -%}
            <li
                id="Slide-{{ section.id }}-{{ featured_media.id }}{{ id_append }}"
                class="product__media-item grid__item slider__slide is-active{% if single_media_visible %} product__media-item--single{% endif %}{% if featured_media.media_type != 'image' %} product__media-item--full{% endif %}{% if section.settings.hide_variants and variant_images contains featured_media.src %} product__media-item--variant{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
                data-media-id="{{ section.id }}-{{ featured_media.id }}"
            >
                {%- assign media_position = 1 -%}
                {% render 'product-thumbnail',
                    media: featured_media,
                    media_count: media_count,
                    position: media_position,
                    desktop_layout: section.settings.gallery_layout,
                    mobile_layout: section.settings.mobile_thumbnails,
                    loop: section.settings.enable_video_looping,
                    modal_id: section.id,
                    xr_button: true,
                    media_width: media_width,
                    media_fit: section.settings.media_fit,
                    constrain_to_viewport: section.settings.constrain_to_viewport,
                    lazy_load: false
                %}
            </li>
        {%- endif -%}
        {%- for media in product.media -%}
            {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
                <li
                    id="Slide-{{ section.id }}-{{ media.id }}{{ id_append }}"
                    class="product__media-item grid__item slider__slide{% if single_media_visible %} product__media-item--single{% endif %}{% if product.selected_or_first_available_variant.featured_media == null and forloop.index == 1 %} is-active{% endif %}{% if media.media_type != 'image' %} product__media-item--full{% endif %}{% if section.settings.hide_variants and variant_images contains media.src %} product__media-item--variant{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
                    data-media-id="{{ section.id }}-{{ media.id }}"
                >
                    {%- liquid
                    assign media_position = media_position | default: 0 | plus: 1
                    assign lazy_load = false
                    if media_position > 4
                        assign lazy_load = true
                    endif
                    -%}
                    {% render 'product-thumbnail',
                    media: media,
                    media_count: media_count,
                    position: media_position,
                    desktop_layout: section.settings.gallery_layout,
                    mobile_layout: section.settings.mobile_thumbnails,
                    loop: section.settings.enable_video_looping,
                    modal_id: section.id,
                    xr_button: true,
                    media_width: media_width,
                    media_fit: section.settings.media_fit,
                    constrain_to_viewport: section.settings.constrain_to_viewport,
                    lazy_load: lazy_load
                    %}
                </li>
            {%- endunless -%}
        {%- endfor -%}
        </ul>
        {%- unless is_duplicate -%}
            <div class="slider-buttons no-js-hidden quick-add-hidden{% if hide_mobile_slider %} small-hide{% endif %}">
                <button
                    type="button"
                    class="slider-button slider-button--prev"
                    name="previous"
                    aria-label="slide"
                >
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-caret" width="11" height="7" viewBox="0 0 11 7" fill="none">
                        <path d="M9.5 1.4259L5.66 5.57405L1.5 1.4259" stroke="#575757" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </button>
                <div class="slider-counter caption">
                <span class="slider-counter--current">1</span>
                <span aria-hidden="true"> / </span>
                <span class="visually-hidden">slider</span>
                <span class="slider-counter--total">{{ media_count }}</span>
                </div>
                <button
                type="button"
                class="slider-button slider-button--next"
                name="next"
                aria-label="next_slide"
                >
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-caret" width="11" height="7" viewBox="0 0 11 7" fill="none">
                    <path d="M9.5 1.4259L5.66 5.57405L1.5 1.4259" stroke="#575757" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                </button>
            </div>
        {%- endunless -%}
    </slider-component>
    {%- if media_count > 1
        and section.settings.gallery_layout contains 'thumbnail'
        or section.settings.mobile_thumbnails == 'show'
    -%}
        <slider-component
            id="GalleryThumbnails-{{ section.id }}{{ id_append }}"
            class="thumbnail-slider slider-mobile-gutter quick-add-hidden{% unless section.settings.gallery_layout contains 'thumbnail' %} medium-hide large-up-hide{% endunless %}{% if section.settings.mobile_thumbnails != 'show' %} small-hide{% endif %}{% if media_count <= 3 %} thumbnail-slider--no-slide{% endif %}"
        >
        <button
            type="button"
            class="slider-button slider-button--prev{% if media_count <= 3 %} small-hide{% endif %}{% if media_count <= 4 %} medium-hide large-up-hide{% endif %}"
            name="previous"
            aria-label="previous_slide"
            aria-controls="GalleryThumbnails-{{ section.id }}"
            data-step="3"
        >
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-caret" width="11" height="7" viewBox="0 0 11 7" fill="none">
                <path d="M9.5 1.4259L5.66 5.57405L1.5 1.4259" stroke="#575757" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </button>
        <ul
            id="Slider-Thumbnails-{{ section.id }}{{ id_append }}"
            class="thumbnail-list list-unstyled slider slider--mobile{% if section.settings.gallery_layout == 'thumbnail_slider' %} slider--tablet-up{% endif %}"
        >
            {%- capture sizes -%}
                (min-width: {{ settings.page_width }}px) calc(({{ settings.page_width | minus: 100 | times: media_width | round }} - 4rem) / 4),
                (min-width: 990px) calc(({{ media_width | times: 100 }}vw - 4rem) / 4),
                (min-width: 750px) calc((100vw - 15rem) / 8),
                calc((100vw - 8rem) / 3)
            {%- endcapture -%}

            {%- if featured_media != null -%}
            {%- liquid
                capture media_index
                if featured_media.media_type == 'model'
                    increment model_index
                elsif featured_media.media_type == 'video' or featured_media.media_type == 'external_video'
                    increment video_index
                elsif featured_media.media_type == 'image'
                    increment image_index
                endif
                endcapture
                assign media_index = media_index | plus: 1
            -%}
            <li
                id="Slide-Thumbnails-{{ section.id }}-0{{ id_append }}"
                class="thumbnail-list__item slider__slide{% if section.settings.hide_variants and variant_images contains featured_media.src %} thumbnail-list_item--variant{% endif %}"
                data-target="{{ section.id }}-{{ featured_media.id }}"
                data-media-position="{{ media_index }}"
            >
                {%- capture thumbnail_id -%}
                    Thumbnail-{{ section.id }}-0{{ id_append }}
                {%- endcapture -%}
                <button
                    class="thumbnail global-media-settings global-media-settings--no-shadow"
                    aria-label="load_image"
                    aria-current="true"
                    aria-controls="GalleryViewer-{{ section.id }}{{ id_append }}"
                    aria-describedby="{{ thumbnail_id }}"
                >
                    {{
                        featured_media.preview_image
                        | image_url: width: 416
                        | image_tag:
                        loading: 'lazy',
                        sizes: sizes,
                        widths: '54, 74, 104, 162, 208, 324, 416',
                        id: thumbnail_id,
                        alt: featured_media.alt
                        | escape
                    }}
                </button>
            </li>
            {%- endif -%}
            {%- for media in product.media -%}
                {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
                    {%- liquid
                        capture media_index
                            if media.media_type == 'model'
                            increment model_index
                            elsif media.media_type == 'video' or media.media_type == 'external_video'
                            increment video_index
                            elsif media.media_type == 'image'
                            increment image_index
                            endif
                        endcapture
                        assign media_index = media_index | plus: 1
                    -%}
                    <li
                        id="Slide-Thumbnails-{{ section.id }}-{{ forloop.index }}{{ id_append }}"
                        class="thumbnail-list__item slider__slide{% if section.settings.hide_variants and variant_images contains media.src %} thumbnail-list_item--variant{% endif %}"
                        data-target="{{ section.id }}-{{ media.id }}"
                        data-media-position="{{ media_index }}"
                    >
                    {%- if media.media_type == 'model' -%}
                        <span class="thumbnail__badge" aria-hidden="true">
                            <svg
                            xmlns="http://www.w3.org/2000/svg"
                            aria-hidden="true"
                            focusable="false"
                            class="icon icon-3d-model"
                            fill="none"
                            viewBox="0 0 18 21"
                            >
                            <path d="M7.67998 20.629L1.28002 16.723C0.886205 16.4784 0.561675 16.1368 0.337572 15.731C0.113468 15.3251 -0.00274623 14.8686 -1.39464e-05 14.405V6.59497C-0.00238367 6.13167 0.113819 5.6755 0.33751 5.26978C0.561202 4.86405 0.884959 4.52227 1.278 4.27698L7.67796 0.377014C8.07524 0.131403 8.53292 0.000877102 8.99999 9.73346e-08C9.46678 -0.000129605 9.92446 0.129369 10.322 0.374024V0.374024L16.722 4.27399C17.1163 4.51985 17.4409 4.86287 17.6647 5.27014C17.8885 5.67742 18.0039 6.13529 18 6.59998V14.409C18.0026 14.8725 17.8864 15.3289 17.6625 15.7347C17.4386 16.1405 17.1145 16.4821 16.721 16.727L10.321 20.633C9.92264 20.8742 9.46565 21.0012 8.99999 21C8.53428 20.9998 8.07761 20.8714 7.67998 20.629V20.629ZM8.72398 2.078L2.32396 5.97803C2.22303 6.04453 2.14066 6.13551 2.08452 6.24255C2.02838 6.34959 2.00031 6.46919 2.00298 6.59003V14.4C2.00026 14.5205 2.02818 14.6396 2.08415 14.7463C2.14013 14.853 2.22233 14.9438 2.32298 15.01L7.99999 18.48V10.919C8.00113 10.5997 8.08851 10.2867 8.25292 10.0129C8.41732 9.73922 8.65267 9.51501 8.93401 9.36401L15.446 5.841L9.28001 2.08002C9.19614 2.02738 9.09901 1.99962 8.99999 2C8.90251 1.99972 8.8069 2.02674 8.72398 2.078V2.078Z" fill="currentColor"/>
                            </svg>
                        </span>
                    {%- elsif media.media_type == 'video' or media.media_type == 'external_video' -%}
                        <span class="thumbnail__badge" aria-hidden="true">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                aria-hidden="true"
                                focusable="false"
                                class="icon icon-play"
                                fill="none"
                                viewBox="0 0 10 14"
                                >
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M1.48177 0.814643C0.81532 0.448245 0 0.930414 0 1.69094V12.2081C0 12.991 0.858787 13.4702 1.52503 13.0592L10.5398 7.49813C11.1918 7.09588 11.1679 6.13985 10.4965 5.77075L1.48177 0.814643Z" fill="currentColor"/>
                            </svg>
                        </span>
                    {%- endif -%}
                    {%- capture thumbnail_id -%}
                        Thumbnail-{{ section.id }}-{{ forloop.index }}{{ id_append }}
                    {%- endcapture -%}
                    <button
                        class="thumbnail global-media-settings global-media-settings--no-shadow"
                        aria-label="load_image"
                        {% if media == product.selected_or_first_available_variant.featured_media
                        or product.selected_or_first_available_variant.featured_media == null
                        and forloop.index == 1
                        %}
                        aria-current="true"
                        {% endif %}
                        aria-controls="GalleryViewer-{{ section.id }}{{ id_append }}"
                        aria-describedby="{{ thumbnail_id }}"
                    >
                        {{
                        media.preview_image
                        | image_url: width: 416
                        | image_tag:
                            loading: 'lazy',
                            sizes: sizes,
                            widths: '54, 74, 104, 162, 208, 324, 416',
                            id: thumbnail_id,
                            alt: media.alt
                        | escape
                        }}
                    </button>
                    </li>
                {%- endunless -%}
            {%- endfor -%}
        </ul>
        <button
            type="button"
            class="slider-button slider-button--next{% if media_count <= 3 %} small-hide{% endif %}{% if media_count <= 4 %} medium-hide large-up-hide{% endif %}"
            name="next"
            aria-label="next_slide"
            aria-controls="GalleryThumbnails-{{ section.id }}"
            data-step="3"
        >
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-caret" width="11" height="7" viewBox="0 0 11 7" fill="none">
                <path d="M9.5 1.4259L5.66 5.57405L1.5 1.4259" stroke="#575757" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </button>
        </slider-component>
    {%- endif -%}
</media-gallery>
