<div>
    <div class="engrave-btns">
        <button type="button" class="engrave-btn active" onclick="engrave(0)">{{ block.settings.btn1 }}</button>
        <button type="button" class="engrave-btn" onclick="engrave(1)">{{ block.settings.btn2 }}</button>
    </div>
    <div class="engrave-div">
        <div>
            <input type="text" name="properties[Engraving Text]" placeholder="Enter text, e.g.: Chef" id="engravedInput" maxlength="{{ block.settings.engraving_length }}">
            <span class="engraving-count">0/{{ block.settings.engraving_length }}</span>
        </div>
        <p>{{ block.settings.engraving_text }}</p>
    </div>
</div>

{% style %}
    .engrave-btns {
        display: flex;
        gap: 8px;
    }

    .engrave-btn {
        padding: 12px 16px;
        background-color: rgba(255, 255, 255, 0.05);
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 4px;
        color: #c9c9cc;
        font-family: "Sen";
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;
        transition: all 0.2s;
        text-align: center;
    }

    .engrave-btn.active {
        background-color: #ff0004;
        border-color: #ff0004;
        color: #ffffff;
    }

    .engrave-div {
        display: none;
        margin-top: 12px;
    }

    .engrave-div div {
        display: flex;
        gap: 8px;
        align-items: center;
    }

    .engrave-div input {
        padding: 12px;
        background-color: rgba(255, 255, 255, 0.05);
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 4px;
        color: #ffffff;
        font-family: "Sen", sans-serif;
        font-size: 14px;
        width: 100%;
    }

    .engrave-div p {
        font-family: "Albert Sans";
        font-weight: 400;
        font-size: 16px;
        margin: 0;
        font-style: italic;
    }
{% endstyle %}

<script>
    window.engravingSelected = false;
    window.engravingText = "";
    const engrave = (num) => {
        const engraves = document.querySelectorAll(".engrave-btn");
        const engraveDiv = document.querySelector(".engrave-div");
        const engraveInput = document.getElementById("engravedInput");
        if (engraves.length > 0) {
            engraves.forEach(engrave => {
                engrave.classList.remove('active');
            })
            engraves[num].classList.add('active');
        }
        if (engraveDiv) {
            if (num == 0) {
                engraveDiv.style.display = "none";
                window.engravingSelected = false;
                window.engravingText = "";
                engraveInput.value = "";
            } else {
                engraveDiv.style.display = "block";
                window.engravingSelected = true;
            }
        }
    }

    document.querySelector('#engravedInput').addEventListener("input", e => {
        window.engravingText = e.target.value;
        const countSpan = document.querySelector(".engraving-count");
        totalLength = countSpan.textContent.split("/")[1];
        countSpan.textContent = `${window.engravingText.length}/${totalLength}`;
    });
</script>

{% schema %}
{
    "name": "Engraving option",
    "tag": null,
    "settings": [
        {
            "type": "text",
            "id": "btn1",
            "label": "First Button",
            "default": "Without engraving"
        },
        {
            "type": "text",
            "id": "btn2",
            "label": "Second Button",
            "default": "Engrave text (+$15)"
        },
        {
            "type": "text",
            "id": "engraving_text",
            "label": "Engraving title",
            "default": "Letters, numbers, and basic punctuation only (. , ! ? ' -)"
        },
        {
            "type": "range",
            "id": "engraving_length",
            "label": "Engraving Length",
            "min": 10,
            "max": 40,
            "default": 20,
            "step": 1
        }
    ]
}
{% endschema %}