{% style %}
    .section-{{ section.id }} .collection-list-header {
        padding: 32px 0;
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    .section-{{ section.id }} .collection-list-title {
        padding: 0 32px;
        max-width: 1200px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 32px;
    }

    .section-{{ section.id }} .collection-list-title h2 {
        font-family: "Sen";
        font-weight: 600;
        font-size: 80px;
        color: #c1c4c7;
        margin: 0;
    }

    .section-{{ section.id }} .collection-list-title p {
        font-family: "Sen";
        font-weight: 600;
        font-size: 22px;
        color: #c1c4c7;
        margin: 0;
    }
{% endstyle %}

<div class="section-background color-{{ section.settings.color_scheme }}"></div>
<section class="section-{{ section.id }} section section--page-width color-{{ section.settings.color_scheme }}">
    <div class="collection-list-header">
        <div class="collection-list-title">
            <h2>{{ section.settings.heading }}</h2>
            <span>{{ section.settings.title }}</span>
        </div>
        {{ section.settings.video | video_tag: autoplay: true, loop: true, muted: true, controls: true }}
    </div>
</section>

{% schema %}
{
    "name": "Collection List Header",
    "settings": [
        {
        "type": "text",
        "id": "heading",
        "label": "Header Title"
        },
        {
        "type": "richtext",
        "id": "title",
        "label": "Header content"
        },
        {
        "type": "video",
        "id": "video",
        "label": "Video"
        },
        {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:settings.color_scheme",
        "default": "scheme-1"
        }
    ],
    "presets": [
        {
            "name": "Collection List Header"
        }
    ]
}
{% endschema %}