{% style %}
    .section-{{ section.id }} .collection-header {
        display: flex;
        gap: 40px;
        max-width: 1440px;
        margin: auto;
        background: linear-gradient(0deg, #0C0C0C 0%, #292A33 99.48%);
    }

    .section-{{ section.id }} .collection-image {
        width: 50%;
    }

    .section-{{ section.id }} .collection-title {
        width: 50%;
        padding: 20px;
    }

    .section-{{ section.id }} .collection-title h2 {
        font-size: 48px;
        font-family: "Sen";
        font-weight: 600;
    }

    .section-{{ section.id }} .collection-title span {
        font-family: "Sen";
        font-weight: 400;
        font-size: 16px;
        color: #c9c9cc;
        display: block;
        max-width: 500px;
    }

    .section-{{ section.id }} ul {
        padding-left: 20px;
    }

    @media screen and (max-width: 750px) {
        .section-{{ section.id }} .collection-header {
            display: block;
            padding: 0 20px;
        }

        .section-{{ section.id }} .collection-image {
            width: 100%;
        }

        .section-{{ section.id }} .collection-title {
            width: 100%;
            padding: 20px 0;
        }

        .section-{{ section.id }} .collection-title h2 {
            font-size: 36px;
        }
    }
{% endstyle %}

<section class="section-{{ section.id }} color-{{ section.settings.color_scheme }}">
    <div class="collection-header">
        {% if collection.featured_image != blank %}
            <div class="collection-image">
                <img src="{{ collection.featured_image | img_url: 'master' }}" width="100%" height="100%" alt="Collection Image">
            </div>
        {% elsif collection.products.first.featured_image != blank %}
            <div class="collection-image">
                <img src="{{ collection.products.first.featured_image | img_url: 'master' }}" width="100%" height="100%" alt="Collection Image">
            </div>
        {% endif %}
        <div class="collection-title">
            <h2>{{ collection.title }}</h2>
            <span>{{ collection.description }}</span>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Collection Header",
    "settings": [
        {
            "type": "select",
            "id": "width",
            "label": "Width",
            "options": [
                {
                    "label": "Page",
                    "value": "page"
                },
                {
                    "label": "Full",
                    "value": "full"
                }
            ],
            "default": "page"
        },
        {
            "type": "color_scheme",
            "id": "color_scheme",
            "label": "t:settings.color_scheme",
            "default": "scheme-1"
        }
    ],
    "presets": [
        {
            "name": "Collection Header"
        }
    ]
}
{% endschema %}