{% style %}
    .section-{{ section.id }} {
        background-color: #111;
    }

    .section-{{ section.id }} .compare-btn {
        max-width: 1440px;
        margin: 0 auto;
        background-color: #292a33;
        padding: 50px 20px;
        text-align: center;
    }
    
    .section-{{ section.id }} .compare-btn h2 {
        font-family: "Sen";
        font-weight: 600;
        font-size: 48px;
        color: white;
        text-align: center;
        line-height: 135%;
        margin: 0 0 30px 0;
    }

    .section-{{ section.id }} .compare-btn a {
        display: inline-block;
        padding: 12px 24px;
        font-family: 'Sen';
        font-weight: 600;
        font-size: 24px;
        color: white;
        background-color: #ff0004;
        border: none;
        border-radius: 4px;
    }

    @media screen and (max-width: 750px) {
        .section-{{ section.id }} .compare-btn {
            padding-top: 32px !important;
            padding-bottom: 32px !important;
            padding-left: 20px !important;
            padding-right: 20px !important;
        }

        .section-{{ section.id }} .compare-btn h2 {
            font-size: 22px;
            line-height: 1.2;
            margin: 0 0 18px 0 !important;
        }

        .section-{{ section.id }} .compare-btn a {
            font-size: 14px;
            padding: 10px 20px;
            margin-bottom: 0 !important;
        }
    }
{% endstyle %}

<div class="section-{{ section.id }}">
    <div class="compare-btn">
        <h2>{{ section.settings.heading }}</h2>
        <a href="{{ section.settings.link }}">{{ section.settings.link_text }}</a>
    </div>
</div>

{% schema %}
{
    "name": "Compare Btn",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Heading"
        },
        {
            "type": "url",
            "id": "link",
            "label": "Link"
        },
        {
            "type": "text",
            "id": "link_text",
            "label": "Link Text"
        }
    ],
    "presets": [
        {
            "name": "Compare Btn"
        }
    ]
}
{% endschema %}