{% style %}
    .section-{{ section.id }} {
        background-color: #111;
    }

    .section-{{ section.id }} .customers {
        position: relative;
        background-color: black;
        padding: 50px 0;
        max-width: 1440px;
        margin: auto;
    }

    .section-{{ section.id }} .customers h2 {
        font-family: "Sen";
        font-weight: 600;
        font-size: 48px;
        color: white;
        text-align: center;
        line-height: 135%;
        padding: 0 16px;
    }

    .section-{{ section.id }} .customer-imgs {
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: center;
        overflow: hidden;
        gap: 16px;
    }

    .section-{{ section.id }} .customer-imgs img {
        width: auto;
        height: 100%;
    }

    .swiper-slide {
        position: relative;
        display: block;
        height: auto;
    }

    @media screen and (max-width: 750px) {
        .section-{{ section.id }} .customers {
            padding: 40px 20px;
        }

        .section-{{ section.id }} .customers h2 {
            padding: 0 16px;
            color: #FFF;
            text-align: center;
            font-family: var(--Primary-Font-Family-Heading, Sen);
            font-size: var(--Mobile-Font-Size-H3, 22px);
            font-style: normal;
            font-weight: var(--Primary-Font-Weight-Semibold, 600);
            line-height: 135%;
            letter-spacing: -0.11px;
        }

        .section-{{ section.id }} .customer-imgs {
            height: 55px;
            gap: 11px;
        }

        .section-{{ section.id }} .customer-imgs img {
            height: 55px;
        }
    }
{% endstyle %}

<section class="section-{{ section.id }}">
    <div class="customers">
        <h2>{{ section.settings.heading }}</h2>
        <div class="customer-imgs">
            <div class="swiper swiper-container mySwiper_u" >    
                <div class="swiper-wrapper slide-part">
                    {%- for block in section.blocks -%}
                        <div class="swiper-slide">
                            <img src="{{ block.settings.image | img_url:'master' }}" width="100%" height="100%" alt="Customer image">
                        </div>
                    {%- endfor -%}
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var swiper = new Swiper('.mySwiper_u', {
            {% comment %} slidesPerView: 2, {% endcomment %}
            spaceBetween: 0,
            centeredSlides: true,
            loop: true,
            breakpoints: {
                570: {
                    {% comment %} slidesPerView: 2, {% endcomment %}
                    spaceBetween: 0,
                },
                900: {
                    {% comment %} slidesPerView: 2, {% endcomment %}
                    spaceBetween: 0,
                    centeredSlides: false,
                    loop: false,
                },
                1224: {
                    {% comment %} slidesPerView: 3, {% endcomment %}
                    spaceBetween: 0,
                    centeredSlides: false,
                    loop: false,
                },
            },
        });
    });
</script>

{% schema %}
{
    "name": "Customers",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
        }
    ],
    "blocks": [
        {
            "type": "block",
            "name": "Customer",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Customers"
        }
    ]
}
{% endschema %}