{% style %}
    .section-{{ section.id }} .customers {
        position: relative;
        background-color: black;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("{{ section.settings.background | img_url: 'master' }}");
        padding: 50px 0;
    }

    .section-{{ section.id }} .customers h2 {
        font-family: "Sen";
        font-weight: 600;
        font-size: 48px;
        color: white;
        text-align: center;
        line-height: 135%;
    }

    .section-{{ section.id }} .customer-imgs {
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: center;
        overflow: hidden;
        gap: 20px;
    }

    .section-{{ section.id }} .customer-imgs img {
        width: auto;
        height: 100%;
    }

    @media screen and (max-width: 1025px) {
        .section-{{ section.id }} .customer-imgs {
            height: 60px;
            gap: 15px;
        }
    }

    @media screen and (max-width: 750px) {
        .section-{{ section.id }} {
            display: flex;
            padding: 24px 0 16px 0;    
            background: #111;
        }
        .section-{{ section.id }} .customers {
            padding: 40px 20px  ;
        }

        .section-{{ section.id }} .customers h2 {
            padding: 0 16px;
            color: #FFF;
            text-align: center;
            font-family: var(--Primary-Font-Family-Heading, Sen);
            font-size: var(--Mobile-Font-Size-H3, 22px);
            font-style: normal;
            font-weight: var(--Primary-Font-Weight-Semibold, 600);
            line-height: 135%;
            letter-spacing: -0.11px;
        }

        .section-{{ section.id }} .customer-imgs {
            margin: auto;
            height: auto;
            justify-content: space-between;
            width: 340px;
            flex-wrap: wrap;
        }

        .section-{{ section.id }} .customer-imgs img {
            height: 45px;
        }
    }
{% endstyle %}

<section class="section-{{ section.id }}">
    <div class="customers">
        <h2>{{ section.settings.heading }}</h2>
        <div class="customer-imgs">
            {% for block in section.blocks %}
                <img src="{{ block.settings.image | img_url: 'master' }}" width="100%" height="100%" alt="customer">
            {% endfor %}
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Customers",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
        },
        {
            "type": "image_picker",
            "id": "background",
            "label": "Background"
        }
    ],
    "blocks": [
        {
            "type": "block",
            "name": "Customer",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Customers"
        }
    ]
}
{% endschema %}