{% style %}
    .section-{{ section.id }} {
        padding: 80px 0;
    }

    .section-{{ section.id }} > h2 {
        font-family: "Sen";
        font-weight: 600;
        font-size: 64px;
        color: #fff;
        max-width: 1200px;
        padding: 0 32px;
        margin: auto;
        margin-bottom: 64px;
    }

    .section-{{ section.id }} .cw-product {
        padding: 24px 0;
        display: flex;
        flex-direction: column;
        gap: 80px;
    }

    .section-{{ section.id }} .product-image {
        display: flex;
        align-items: center;
        gap: 48px;
    }

    .section-{{ section.id }} .product-image img {
        width: 60%;
    }

    .section-{{ section.id }} .product-info {
        width: 40%;
        padding: 24px 32px;
        display: flex;
        flex-direction: column;
        gap: 54px;
    }

    .section-{{ section.id }} .product-info-div {
        width: fit-content;
    }

    .section-{{ section.id }} .product-info-div > h2 {
        font-family: "Sen";
        font-weight: 600;
        font-size: 48px;
        color: #828282;
        padding-bottom: 24px;
        border-bottom: 2px solid rgba(255, 255, 255, 0.20);
        margin: 0;
        margin-bottom: 54px;
        width: max-content;
        line-height: 125%;
    }

    .section-{{ section.id }} .product-info-div > div {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 48px;
    }

    .section-{{ section.id }} .product-info-block p {
        font-family: "Sen";
        font-weight: 600;
        font-size: 22px;
        color: #c9c9cc;
        margin: 0;
    }

    .section-{{ section.id }} .product-info-block h2 {
        font-family: "Sen";
        font-weight: 600;
        font-size: 48px;
        color: #fff;
        margin: 0;
    }

    .section-{{ section.id }} .product-description {
        width: 100%;
        max-width: 1080px;
        padding: 0 32px;
        margin: auto;
    }

    .section-{{ section.id }} .variant-info.active {
        color: #fff;
        border-bottom: 1.5px solid #fff;
    }

    .section-{{ section.id }} .product-description-span {
        display: none;
        font-family: "Albert Sans";
        font-weight: 400;
        font-size: 18px;
        color: #c9c9cc;
        flex-direction: column;
        gap: 32px;
        text-align: center;
        max-width: 640px;
        margin: auto;
    }

    .section-{{ section.id }} .product-description-span a {
        color: #ff0004;
    }

    .section-{{ section.id }} .product-description-span.active {
        display: flex; 
    }

    .section-{{ section.id }} .product-variants {
        position: relative;
        margin-bottom: 56px;
        overflow: hidden;
    }

    .section-{{ section.id }} .product-variants ul {
        padding: 0;
        border-bottom: 1px solid #c9c9cc;
        display: flex;
        gap: 48px;
        list-style: none;
        width: fit-content;
        margin: auto;
        transform: translate(0);
        transition: transform 0.3s ease;
    }

    .section-{{ section.id }} .product-variants ul li {
        padding: 16px 0;
        font-family: "Sen";
        font-weight: 600;
        font-size: 28px;
        color: #c9c9cc;
        cursor: pointer;
        white-space: nowrap;
    }

    .section-{{ section.id }} .product-variants-div1 {
        position: absolute;
        top: 0;
        height: 100%;
        padding: 12px;
        align-items: center;
        background: #212121;
        backdrop-filter: blur(2px);
        left: 0;
        display: none;
        cursor: pointer;
    }

    .section-{{ section.id }} .product-variants-div2 {
        position: absolute;
        top: 0;
        height: 100%;
        padding: 12px;
        display: flex;
        align-items: center;
        background: #212121;
        backdrop-filter: blur(2px);
        right: 0;
        cursor: pointer;
    }

    {% if section.settings.width == "full" %}
        .section-{{ section.id }} {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    {% endif %}

    @media screen and (max-width: 1025px) {
        .section-{{ section.id }} {
            padding: 40px 0;
        }

        .section-{{ section.id }} > h2 {
            font-size: 48px;
            margin-bottom: 36px;
        }

        .section-{{ section.id }} .product-image {
            gap: 24px;
        }

        .section-{{ section.id }} .product-info-div > h2 {
            font-size: 24px;
            padding-bottom: 12px;
            margin-bottom: 24px;
        }

        .section-{{ section.id }} .product-info-block p {
            font-size: 16px;
        }

        .section-{{ section.id }} .product-info-block h2 {
            font-size: 24px;
        }

        .section-{{ section.id }} .product-variants {
            margin-bottom: 24px;
        }

        .section-{{ section.id }} .product-variants ul {
            gap: 24px;
        }

        .section-{{ section.id }} .product-variants ul li {
            font-size: 20px;
        }

        .section-{{ section.id }} .product-description-span {
            font-size: 16px;
            gap: 20px;
        }

        .section-{{ section.id }} .cw-product {
            gap: 40px;
        }
    }

    @media screen and (max-width: 750px) {
        .section-{{ section.id }} .product-info-div > h2 {
            font-size: 36px;
        }

        .section-{{ section.id }} > h2 {
            font-size: 36px;
        }

        .section-{{ section.id }} .product-image {
            flex-direction: column !important;
        }

        .section-{{ section.id }} .product-image img {
            width: 100%;
        }

        .section-{{ section.id }} .product-info {
            width: 100%;
        }

        .section-{{ section.id }} .product-info-block h2 {
            font-size: 28px;
        }

        .section-{{ section.id }} .product-info-div {
            width: 100%;
        }

        .section-{{ section.id }} .product-info-div > div {
            gap: 24px;
        }

        .section-{{ section.id }} .product-info-div > h2 {
            font-size: 28px;
            width: 100%;
        }

        .section-{{ section.id }} .product-variants ul li {
            white-space: nowrap;
            padding: 0;
        }
        
        .section-{{ section.id }} .product-variants-div1 {
            padding: 5px;
        }

        .section-{{ section.id }} .product-variants-div2 {
            padding: 5px;
        }
    }
{% endstyle %}

<div class="section-background color-{{ section.settings.color_scheme }}"></div>
<section class="section-{{ section.id }} section color-{{ section.settings.color_scheme }}">
    <h2>{{ section.settings.heading }}</h2>
    <div class="cw-products">
        {% for block in section.blocks %}
            {% assign product = block.settings.product %}
            <div class="cw-product">
                <div class="product-image" {% if block.settings.image_position == "right" %}style="flex-direction: row-reverse;"{% endif %}>
                    {% if block.settings.image != blank %}
                        <img src="{{ block.settings.image | img_url: 'master' }}" width="100%" height="100%" alt="{{ product.title | escape }}">
                    {% else %}
                        {% if product.featured_image != blank %}
                            <img src="{{ product.featured_image | img_url: 'master' }}" width="100%" height="100%" alt="{{ product.title | escape }}">
                        {% else %}
                            {% assign firstimage = product.variants.first %}
                            <img src="{{ firstimage.featured_image | img_url: 'master' }}" width="100%" height="100%" alt="{{ product.title | escape }}">
                        {% endif %}
                    {% endif %}
                    <div class="product-info" {% if block.settings.image_position == "right" %}style="justify-content: flex-end;"{% endif %}>
                        <div class="product-info-div">
                            <h2>{{ product.title }}</h2>
                            <div>
                                <div class="product-info-block">
                                    <p>{{ block.settings.first_block_header }}</p>
                                    <h2>{{ block.settings.first_block_content }}</h2>
                                    <p>{{ block.settings.first_block_footer }}</p>
                                </div>
                                <div class="product-info-block">
                                    <p>{{ block.settings.second_block_header }}</p>
                                    <h2>{{ block.settings.second_block_content }}</h2>
                                    <p>{{ block.settings.second_block_footer }}</p>
                                </div>
                                <div class="product-info-block">
                                    <p>{{ block.settings.third_block_header }}</p>
                                    <h2>{{ block.settings.third_block_content }}</h2>
                                    <p>{{ block.settings.third_block_footer }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-description">
                    {% assign num = forloop.index %}
                    <div class="product-variants product-variants-{{ num }}">
                        <ul class="product-variants-ul-{{ num }}">
                            {% for variant in product.variants %}
                                <li class="variant-info variant-info-{{ num }} variant-info-{{ num }}-{{ forloop.index }} {% if forloop.index == 1 %}active{% endif %}" onclick="productslider_{{ num }}({{ forloop.index }})">{{ variant.title }}</li>
                            {% endfor %}
                        </ul>
                        <div class="product-variants-div1 product-variants-div1-{{ num }}" onclick="productUlPrev_{{ num }}()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                                <g clip-path="url(#clip0_4235_8014)">
                                    <path d="M12.5 3.91602L6.25 10.166L12.5 16.416" stroke="#c9c9cc" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </g>
                                <defs>
                                    <clipPath id="clip0_4235_8014">
                                        <rect width="20" height="20" fill="white" transform="translate(0 0.166016)"/>
                                    </clipPath>
                                </defs>
                            </svg>
                        </div>
                        <div class="product-variants-div2 product-variants-div2-{{ num }}" onclick="productUlNext_{{ num }}()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                                <g clip-path="url(#clip0_4235_8014)">
                                    <path d="M7.5 3.91602L13.75 10.166L7.5 16.416" stroke="#c9c9cc" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </g>
                                <defs>
                                    <clipPath id="clip0_4235_8014">
                                        <rect width="20" height="20" fill="white" transform="translate(0 0.166016)"/>
                                    </clipPath>
                                </defs>
                            </svg>
                        </div>
                    </div>
                    {% for variant in product.variants %}
                        <div class="product-description-span product-description-span-{{ num }} product-slider-{{ num }}-{{ forloop.index }} {% if forloop.index == 1 %}active{% endif %}">
                            {% if variant.description != blank %}
                                <span>{{ variant.description }}</span>
                            {% else %}
                                <span>{{ block.settings.description }}</span>
                            {% endif %}
                            <a>Learn more about {{ product.title }} ></a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</section>

<script>
    {% for block in section.blocks %}
        const productslider_{{ forloop.index }} = (num) => {
            const variants = document.querySelectorAll('.variant-info-{{ forloop.index }}');
            const variantInfos = document.querySelectorAll('.product-description-span-{{ forloop.index }}');
            const variant = document.querySelector(`.variant-info-{{ forloop.index }}-${num}`);
            const variantInfo = document.querySelector(`.product-slider-{{ forloop.index }}-${num}`);

            variants.forEach((variant) => {
                variant.classList.remove('active');
            });
            variantInfos.forEach((variantInfo) => {
                variantInfo.classList.remove('active');
            });
            variant.classList.add('active');
            variantInfo.classList.add('active');
        };

        const btn_{{ forloop.index }} = document.querySelector('.product-variants-div2');
        const btn_{{ forloop.index }}_width = btn_{{ forloop.index }}.offsetWidth;

        const changeBtn_{{ forloop.index }} = () => {
            const ul_{{ forloop.index }} = document.querySelector('.product-variants-ul-{{ forloop.index }}');
            const prevBtn_{{ forloop.index }} = document.querySelector('.product-variants-div1-{{ forloop.index }}');
            const nextBtn_{{ forloop.index }} = document.querySelector('.product-variants-div2-{{ forloop.index }}');
            let currentPosition;
            if (ul_{{ forloop.index }}.style.transform != "") currentPosition = parseFloat(ul_{{ forloop.index }}.style.transform.match(/-?\d+\.?\d*/)[0]);
            else currentPosition = 0;
            if (ul_{{ forloop.index }}.parentElement.offsetWidth > ul_{{ forloop.index }}.offsetWidth) {
                prevBtn_{{ forloop.index }}.style.display = "none";
                nextBtn_{{ forloop.index }}.style.display = "none";
            }
            else {
                if (-ul_{{ forloop.index }}.parentElement.offsetWidth + ul_{{ forloop.index }}.scrollWidth + currentPosition + btn_{{ forloop.index }}_width < 0) {
                    ul_{{ forloop.index }}.style.transform = `translate(${ul_{{ forloop.index }}.parentElement.offsetWidth - ul_{{ forloop.index }}.scrollWidth - btn_{{ forloop.index }}_width}px)`;
                    nextBtn_{{ forloop.index }}.style.display = "none";
                }
                if (currentPosition > 0) {
                    ul_{{ forloop.index }}.style.transform = `translate(0)`;
                    prevBtn_{{ forloop.index }}.style.display = "none";
                }
            }
        }

        const productUlNext_{{ forloop.index }} = () => {
            const prevBtn_{{ forloop.index }} = document.querySelector('.product-variants-div1-{{ forloop.index }}');
            const nextBtn_{{ forloop.index }} = document.querySelector('.product-variants-div2-{{ forloop.index }}');
            const ul_{{ forloop.index }} = document.querySelector('.product-variants-ul-{{ forloop.index }}');
            let currentPosition;
            if (ul_{{ forloop.index }}.style.transform != "") currentPosition = parseFloat(ul_{{ forloop.index }}.style.transform.match(/-?\d+\.?\d*/)[0]);
            else currentPosition = 0;
            ul_{{ forloop.index }}.style.transform = `translate(${currentPosition - 200}px)`;
            prevBtn_{{ forloop.index }}.style.display = "flex";
            changeBtn_{{ forloop.index }}();
        }

        const productUlPrev_{{ forloop.index }} = () => {
            const prevBtn_{{ forloop.index }} = document.querySelector('.product-variants-div1-{{ forloop.index }}');
            const nextBtn_{{ forloop.index }} = document.querySelector('.product-variants-div2-{{ forloop.index }}');
            const ul_{{ forloop.index }} = document.querySelector('.product-variants-ul-{{ forloop.index }}');
            let currentPosition;
            if (ul_{{ forloop.index }}.style.transform != "") currentPosition = parseFloat(ul_{{ forloop.index }}.style.transform.match(/-?\d+\.?\d*/)[0]);
            else currentPosition = 0;
            ul_{{ forloop.index }}.style.transform = `translate(${currentPosition + 200}px)`;
            nextBtn_{{ forloop.index }}.style.display = "flex";
            changeBtn_{{ forloop.index }}();
        }

        changeBtn_{{ forloop.index }}();
    {% endfor %}
</script>

{% schema %}
{
    "name": "Custom product List",
    "settings": [
        {
            "type": "select",
            "id": "width",
            "label": "Width",
            "options": [
                {
                    "label": "Page",
                    "value": "page"
                },
                {
                    "label": "Full",
                    "value": "full"
                }
            ],
            "default": "page"
        },
        {
            "type": "text",
            "id": "heading",
            "label": "Header"
        },
        {
            "type": "color_scheme",
            "id": "color_scheme",
            "label": "t:settings.color_scheme",
            "default": "scheme-1"
        }
    ],
    "blocks": [
        {
            "type": "block",
            "name": "product",
            "settings": [
                {
                    "type": "product",
                    "id": "product",
                    "label": "product"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "select",
                    "id": "image_position",
                    "label": "Image Position",
                    "options": [
                        {
                            "value": "left",
                            "label": "Left"
                        },
                        {
                            "value": "right",
                            "label": "Right"
                        }
                    ],
                    "default": "left"
                },
                {
                    "type": "text",
                    "id": "first_block_header",
                    "label": "First Property Header"
                },
                {
                    "type": "text",
                    "id": "first_block_content",
                    "label": "First Property Content"
                },
                {
                    "type": "text",
                    "id": "first_block_footer",
                    "label": "First Property Footer"
                },
                {
                    "type": "text",
                    "id": "second_block_header",
                    "label": "Second Property Header"
                },
                {
                    "type": "text",
                    "id": "second_block_content",
                    "label": "Second Property Content"
                },
                {
                    "type": "text",
                    "id": "second_block_footer",
                    "label": "Second Property Footer"
                },
                {
                    "type": "text",
                    "id": "third_block_header",
                    "label": "Third Property Header"
                },
                {
                    "type": "text",
                    "id": "third_block_content",
                    "label": "Third Property Content"
                },
                {
                    "type": "text",
                    "id": "third_block_footer",
                    "label": "Third Property Footer"
                },
                {
                    "type": "richtext",
                    "id": "description",
                    "label": "Description"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Custom product List"
        }
    ]
}
{% endschema %}