{% style %}
    .section-{{ section.id }} footer {
        background: linear-gradient(180deg, #292A33 0%, #23242B 100%);
        padding: 33px 0;
        margin-inline: -80px;
    }

    .section-{{ section.id }} .footer-head {
        padding: 32px 64px;
        margin-bottom: 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section-{{ section.id }} .footer-head h2 {
        font-family: "Sen";
        font-weight: 600;
        font-size: 36px;
        color: white;
        margin: 0;
        margin-bottom: 16px;
        text-align: center;
        line-height: 135%;
    }

    .section-{{ section.id }} .footer-head p {
        font-family: "Albert Sans";
        font-weight: 400;
        font-size: 16px;
        color: #c9c9cc;
        max-width: 600px;
        margin: 0 auto;
        text-align: center;
    }

    @media screen and (max-width: 750px) {
        .section-{{ section.id }} footer {
            padding: 32px 0;
        }

        .section-{{ section.id }} .footer-head {
            padding: 16px 32px;
            margin-bottom: 32px;
        }

        .section-{{ section.id }} .footer-head h2 {
            font-size: 22px;
        }
    }
{% endstyle %}

<div class="section section-{{ section.id }} color-{{ section.settings.color_scheme }}">
    <footer>
        <div class="footer-head">
            <h2>{{ section.settings.heading }}</h2>
            <p>{{ section.settings.content }}</p>
            {% content_for 'blocks' %}
        </div>
    </footer>
</div>

{% schema %}
{
    "name": "Custom Footer",
    "tag": "footer",
    "blocks": [
        {
            "type": "_divider"
        },
        {
            "type": "@app"
        },
        {
            "type": "button"
        },
        {
            "type": "follow-on-shop"
        },
        {
            "type": "group"
        },
        {
            "type": "icon"
        },
        {
            "type": "image"
        },
        {
            "type": "menu"
        },
        {
            "type": "payment-icons"
        },
        {
            "type": "text"
        },
        {
            "type": "logo"
        },
        {
            "type": "jumbo-text"
        },
        {
            "type": "social-links"
        },
        {
            "type": "email-signup"
        }
    ],
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Heading"
        },
        {
            "type": "text",
            "id": "content",
            "label": "Content"
        },
        {
            "type": "color_scheme",
            "id": "color_scheme",
            "label": "t:settings.color_scheme",
            "default": "scheme-1"
        }
    ],
    "presets": [
        {
            "name": "Custom Footer",
            "blocks": {
                "email-signup": {
                    "type": "group"
                }
            }
        }
    ]
}
{% endschema %}