{% style %}
    .section-{{ section.id }} > div {
        background-color: black;
    }

    .section-{{ section.id }} .hero-banner {
        background: radial-gradient(59.22% 45.55% at 100% 107.77%, #151515 0%, rgba(21, 21, 21, 0.00) 100%), linear-gradient(114deg, #252525 0.16%, rgba(37, 37, 37, 0.00) 26.55%, rgba(32, 32, 32, 0.00) 79.33%, #171717 105.71%), linear-gradient(250deg, #1E1E1E 0.63%, #222428 14.81%, #252527 36.15%, #252527 99.37%);
        display: flex;
        justify-content: flex-end;
        height: calc(100vh - 100px);
        max-width: 1440px;
        margin: auto;
        position: relative;
    }

    .section-{{ section.id }} .hero-banner-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 500px;
        position: absolute;
        top: 0;
        right: 54%;
        height: 100%;
        z-index: 1;
    }

    .section-{{ section.id }} .hero-banner-content span {
        width: 350px;
    }
    
    .section-{{ section.id }} .hero-banner-content h2:nth-child(odd) {
        color: #F9F9F7;
        font-family: "Sen";
        font-size: 80px;
        font-weight: 600;
        line-height: 120%;
        margin: 0;
    }

    .section-{{ section.id }} .hero-banner-content h2:nth-child(odd)::after {
        content: '.';
        color: #fd3e36;
    }

    .section-{{ section.id }} .hero-banner-content h2:nth-child(even) {
        color: #fd3e36;
        font-family: "Sen";
        font-size: 80px;
        font-weight: 600;
        line-height: 120%;
        margin: 0;
    }

    .section-{{ section.id }} .hero-banner-content h2:nth-child(even)::after {
        content: '.';
        color: white;
    }

    .section-{{ section.id }} .hero-banner-content span {
        font-size: 18px;
        font-weight: 400;
        color: #86868b;
    }

    .section-{{ section.id }} .hero-banner-content div {
        width: 400px;
        display: flex;
        flex-direction: column;
        gap: 100px;
    }

    .section-{{ section.id }} .hero-banner-content img {
        width: 150px;
        display: flex;
        justify-content: flex-end;
        margin-left: auto;
    }

    .section-{{ section.id }} .desktop-hero {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 54%;
        object-fit: cover;
    }

    .section-{{ section.id }} .hero-banner-content a {
        font-family: "Sen";
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 2px;
        border-bottom: 2px solid #444444;
        line-height: 250%;
        display: flex;
        align-items: center;
        width: max-content;
        gap: 6px;
        color: #f9f9f7;
    }

    .section-{{ section.id }} .hero-banner-img img {
        height: 100%;
    }

    @media screen and (max-width: 1150px) {
        .section-{{ section.id }} .hero-banner-content {
            width: 400px;
            right: unset;
            left: 50px;
        }

        .section-{{ section.id }} .desktop-hero {
            width: 64%;
        }

        .section-{{ section.id }} .hero-banner-content h2:nth-child(odd) {
            font-size: 40px;
        }

        .section-{{ section.id }} .hero-banner-content h2:nth-child(even) {
            font-size: 40px;
        }

        .section-{{ section.id }} .hero-banner-content span {
            font-size: 16px;
            width: 250px;
        }

        .section-{{ section.id }} .hero-banner-content div {
            width: 300px;
            gap: 50px;
        }

        .section-{{ section.id }} .hero-banner-content a {
            font-size: 13px;
        }
    }

    @media screen and (max-width: 1000px) {
        .section-{{ section.id }} .hero-banner-content {
            justify-content: flex-end;
        }

        .section-{{ section.id }} .hero-banner-content div {
            margin-bottom: 40px;
        }

        .section-{{ section.id }} .desktop-hero {
            width: 80%;
        }
    }
{% endstyle %}

<section class="section-{{ section.id }}">
    <div>
        <div class="hero-banner">
            <div class="hero-banner-content">
                <span>{{ section.settings.heading }}</span>
                <span>{{ section.settings.content }}</span>
                <div>
                    <img src="{{ section.settings.icon | img_url: 'master' }}" width="100%" height="100%" alt="Hero Icon">
                    <a href="/collections">
                        {{ section.settings.link_text }}
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                            <g clip-path="url(#clip0_4592_26684)">
                                <path d="M10 3.125V16.875" stroke="#F9F9F7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M4.375 11.25L10 16.875L15.625 11.25" stroke="#F9F9F7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </g>
                            <defs>
                                <clipPath id="clip0_4592_26684">
                                    <rect width="20" height="20" fill="white"/>
                                </clipPath>
                            </defs>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="hero-banner-img">
                <img src="{{ section.settings.desktop_img | img_url: 'master' }}" width="100%" height="100%" alt="Desktop hero" class="mobile:hidden desktop-hero">
                <img src="{{ section.settings.mobile_img | img_url: 'master' }}" width="100%" height="100%" alt="Mobile hero" class="desktop:hidden mobile-hero">
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "CW Hero",
    "settings": [
        {
            "type": "richtext",
            "id": "heading",
            "label": "header"
        },
        {
            "type": "richtext",
            "id": "content",
            "label": "Content"
        },
        {
            "type": "image_picker",
            "id": "icon",
            "label": "Icon"
        },
        {
            "type": "text",
            "id": "link_text",
            "label": "Link Text"
        },
        {
            "type": "image_picker",
            "id": "desktop_img",
            "label": "Desktop Image"
        },
        {
            "type": "image_picker",
            "id": "mobile_img",
            "label": "Mobile Image"
        }
    ],
    "presets": [
        {
            "name": "CW Hero"
        }
    ]
}
{% endschema %}