{% style %}
    .section-{{ section.id }} {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
    }
{% endstyle %}

<div class="section-background color-{{ section.settings.color_scheme }}"></div>
<section class="section-{{ section.id }} section section--page-width color-{{ section.settings.color_scheme }}">
    {% assign variant_images = product.images | where: 'attached_to_variant?', true | map: 'src' %}
    <div class="product-media-wrapper">
        {% render 'product-media-gallery', variant_images: variant_images %}
    </div>
</section>

{% schema %}
{
    "name": "Product Header",
    "settings": [
        {
            "type": "color_scheme",
            "id": "color_scheme",
            "label": "t:settings.color_scheme",
            "default": "scheme-1"
        },
        {
            "type": "range",
            "id": "padding_top",
            "label": "Padding Top",
            "min": 30,
            "max": 120,
            "step": 2,
            "unit": "px",
            "default": 80
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "label": "Padding Bottom",
            "min": 30,
            "max": 120,
            "step": 2,
            "unit": "px",
            "default": 80
        }
    ],
    "blocks": [
    ],
    "presets": [
        {
            "name": "Product Header"
        }
    ]
}
{% endschema %}