{% style %}
  .section-{{ section.id }} {
    display: flex;
    max-width: 800px;
    align-items: center;
    align-self: stretch;    
  }
{% endstyle %}

<div class="section-{{ section.id }}">
    <div class="section-{{ section.settings.first_order_image }}">
        {% if section.settings.first_order_image != blank %}
            <img src="{{ section.settings.first_order_image | img_url }}">
        {% endif %}
    </div>
    <div class="section-{{ section.settings.first_order_content }}">
        <h2>{{ section.settings.first_order_content }}</h2>
        <p>{{ section.settings.first_order_text }}</p>
        <input placeholder="Enter email, receive code instantly"> 
        <button>{{ section.settings.first_order_button }}</button>
    </div>
</div>

{% schema %}
    {
        "name": "first_order",
        "settings": [
            {
                "type": "image_picker",
                "id": "first_order_image",
                "label": "Enjoy Order Image"
            },
            {
                "type": "text",
                "id":"first_order_text",
                "label": "First Order Text"
            },
            {
                "type": "richtext",
                "id": "first_order_content",
                "label": "First Order content"
            },
             {
                "type": "richtext",
                "id": "first_order_input",
                "label": "First Order Input"
            },
             {
                "type": "richtext",
                "id": "first_order_button",
                "label": "First Order Button"
            },
        ]
    }
{% endschema %}