{% style %}
  .section-{{ section.id }} {
    background-color: black;
  }

  .section-{{ section.id }} > div {
    max-width: 1440px;
    margin: auto;
    padding: 96px 80px 48px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%), linear-gradient(260deg, #121619 17.25%, #1E1E21 35.14%, #242426 43.07%, #242426 99.52%);
  }

  .section-{{ section.id }} img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      margin-bottom: 40px;
  }

  .section-{{ section.id }} h2 {
      font-family: "Sen";
      font-weight: 600;
      font-size: 36px;
      color: #f9f9f7;
  }

  .section-{{ section.id }} h2 span {
    color: #FD3E36;
    padding-left: 10px;
  }

  .section-{{ section.id }} h2:after {
    content: ".";
    color: #86868b;
  }

  .section-{{ section.id }} .home-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .section-{{ section.id }} .home-price span.prices {
    font-family: "Sen";
    font-weight: 600;
    font-size: 22px;
    color: #c1c4c7
  }

  .section-{{ section.id }} .home-price span.compare-price {
    font-size: 19px;
    text-decoration: line-through;
    color: #86868b;
  }

  .section-{{ section.id }} .home-price a {
    background-color: transparent;
    border: none;
    display: flex;
    font-family: "Sen";
    font-weight: 600;
    font-size: 14px;
    color: #c1c4c7;
    border-bottom: 2px solid #444444;
    padding: 0;
    line-height: 250%;
    align-items: center;
    gap: 15px;
  }

  .section-{{ section.id }} .home-price a img {
    width: 20px;
    height: 20px;
    margin: 0;
  }

  .section-{{ section.id }} .swiper-slide .active {
    height: 360px;
    overflow: visible;
  }

  .section-{{ section.id }} .home-menu-list {
    margin-bottom: 64px;
    overflow: hidden;
    border-bottom: 1px solid #86868b;
  }

  .section-{{ section.id }} .home-menu-list > div {
    position: relative;
    max-width: fit-content;
    overflow: hidden;
  }

  .section-{{ section.id }} .home-menu-list ul {
    display: flex;
    list-style: none;
    gap: 40px;
    padding: 0;
    width: fit-content;
    margin: 0;
    position: relative;
  }

  .section-{{ section.id }} .product-products-div1 {
    position: absolute;
    top: 0;
    height: 100%;
    padding: 5px;
    align-items: center;
    background: #212121;
    backdrop-filter: blur(2px);
    left: 0;
    display: none;
    cursor: pointer;
  }

  .section-{{ section.id }} .product-products-div2 {
    position: absolute;
    top: 0;
    height: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    background: #212121;
    backdrop-filter: blur(2px);
    right: 0;
    cursor: pointer;
  }

  .section-{{ section.id }} .home-menu-list ul li {
    padding: 16px 0;
    color: #86868b;
    cursor: pointer;
  }

  .section-{{ section.id }} .home-menu-list ul li p {
    width: max-content;
  }

  .section-{{ section.id }} .home-menu-list ul li.active {
    color: #f9f9f7;
    border-bottom: 1px solid #F9F9F7;
  }

  .section-{{ section.id }} .home-slider {
    display: none;
  }

  .section-{{ section.id }} .home-slider.active {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  .section-{{ section.id }} .home-products-th {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .section-{{ section.id }} .home-products .home-price span, .sale-price {
    font-size:22px !important;
  }

  .section-{{ section.id }} .home-products-th h2 {
    font-size: 22px;
  }

  .section-{{ section.id }} .product-products-ul {
    transition: transform 0.3s ease;
  }

  @media screen and (max-width: 1300px) {
    .section-{{ section.id }} .home-slider.active {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .section-{{ section.id }} > div {
      padding: 48px 30px;
    }
  }

  @media screen and (max-width: 750px) {
    .section-{{ section.id }} > div {
      padding: 48px 16px;
    }

    .section-{{ section.id }} h2 {
      font-size: 28px;
      margin-bottom: 12px;
    }
    
    .section-{{ section.id }} img {
      margin-bottom: 24px;
    }

    .section-{{ section.id }} .home-menu-list {
      margin-bottom: 48px;
    }

    .section-{{ section.id }} .home-menu-list ul {
      gap: 32px;
    }
  }

  @media screen and (max-width: 650px) {
    .section-{{ section.id }} .home-slider.active {
        grid-template-columns: repeat(1, 1fr);
    }

    .section-{{ section.id }} .home-menu-list ul li {
      padding: 10px 0;
    }
  }
{% endstyle %}

<div class="section-background color-{{ section.settings.color_scheme }}"></div>
<section class="section-{{ section.id }} color-{{ section.settings.color_scheme }}">
  <div>
    <h2>{{ section.settings.heading -}}<span>{{ section.settings.heading_color }}</span></h2>
    <div class="home-menu-list">
      <div>
        <ul class="product-products-ul">
          {% for block in section.blocks %}
            <li
              class="home-collection home-collection-{{ forloop.index }} {% if forloop.index == 1 %}active{% endif %}"
              onclick="homeslider({{ forloop.index }})"
            >
              <p>{{ block.settings.collection_name }}</p>
            </li>
          {% endfor %}
        </ul>
        <div class="product-products-div1" onclick="productUlPrev()">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
            <g clip-path="url(#clip0_4235_8014)">
              <path d="M12.5 3.91602L6.25 10.166L12.5 16.416" stroke="#86868B" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
            </g>
            <defs>
              <clipPath id="clip0_4235_8014">
                <rect width="20" height="20" fill="white" transform="translate(0 0.166016)"/>
              </clipPath>
            </defs>
          </svg>
        </div>
        <div class="product-products-div2" onclick="productUlNext()">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
            <g clip-path="url(#clip0_4235_8014)">
              <path d="M7.5 3.91602L13.75 10.166L7.5 16.416" stroke="#86868B" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
            </g>
            <defs>
              <clipPath id="clip0_4235_8014">
                <rect width="20" height="20" fill="white" transform="translate(0 0.166016)"/>
              </clipPath>
            </defs>
          </svg>
        </div>
      </div>
    </div>
    {% for block in section.blocks %}
      {% assign collection = block.settings.collection %}
      <div class="home-slider home-slider-{{ forloop.index }} {% if forloop.index == 1 %}active{% endif %}">
        {% for product in collection.products limit: 4 %}
          <div class="home-products-th">
            {% assign image = product.featured_image %}
            <img src="{{ image | img_url: 'master' }}" width="100%" height="100%" alt="{{ product.featured_image.alt }}">
            <h2>{{ product.title }}</h2>
            <div class="home-reviews"></div>
            <div class="home-price">
              <span class="prices">
                <span class="sale-price">{{ product.price | money }}</span>
                <span class="compare-price">{{ product.compare_at_price | money }}</span>
              </span>
              <a href="{{ product.url }}">SHOP NOW
                <img src="{{ 'ArrowUpRight.svg?v=1760533953' | file_url }}" width="100%" height="100%" alt="product"
              ></a>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</section>

<script>
  const homeslider = (num) => {
    const homeCollections = document.querySelectorAll('.home-collection');
    const homeSliders = document.querySelectorAll('.home-slider');
    const homeCollection = document.querySelector(`.home-collection-${num}`);
    const homeSlider = document.querySelector(`.home-slider-${num}`);

    homeCollections.forEach((homeCollection) => {
      homeCollection.classList.remove('active');
    });
    homeSliders.forEach((homeSlider) => {
      homeSlider.classList.remove('active');
    });
    homeCollection.classList.add('active');
    homeSlider.classList.add('active');
  };
  
  const btn = document.querySelector('.product-products-div2');
  const btn_width = btn.offsetWidth;

  const changeBtn = () => {
    const ul = document.querySelector('.product-products-ul');
    const prevBtn = document.querySelector('.product-products-div1');
    const nextBtn = document.querySelector('.product-products-div2');
    let currentPosition;
    if (ul.style.transform != "") currentPosition = parseFloat(ul.style.transform.match(/-?\d+\.?\d*/)[0]);
    else currentPosition = 0;
    console.log(ul.parentElement.offsetWidth);
    console.log(ul.offsetWidth);
    if (ul.parentElement.offsetWidth >= ul.offsetWidth) {
      prevBtn.style.display = "none";
      nextBtn.style.display = "none";
    }
    else {
      if (-ul.parentElement.offsetWidth + ul.scrollWidth + currentPosition + btn_width < 0) {
        ul.style.transform = `translate(${ul.parentElement.offsetWidth - ul.scrollWidth - btn_width}px)`;
        nextBtn.style.display = "none";
      }
      if (currentPosition > 0) {
        ul.style.transform = `translate(0)`;
        prevBtn.style.display = "none";
      }
    }
  }

  const productUlNext = () => {
    const prevBtn = document.querySelector('.product-products-div1');
    const nextBtn = document.querySelector('.product-products-div2');
    const ul = document.querySelector('.product-products-ul');
    let currentPosition;
    if (ul.style.transform != "") currentPosition = parseFloat(ul.style.transform.match(/-?\d+\.?\d*/)[0]);
    else currentPosition = 0;
    ul.style.transform = `translate(${currentPosition - 100}px)`;
    prevBtn.style.display = "flex";
    changeBtn();
  }

  const productUlPrev = () => {
    const prevBtn = document.querySelector('.product-products-div1');
    const nextBtn = document.querySelector('.product-products-div2');
    const ul = document.querySelector('.product-products-ul');
    let currentPosition;
    if (ul.style.transform != "") currentPosition = parseFloat(ul.style.transform.match(/-?\d+\.?\d*/)[0]);
    else currentPosition = 0;
    ul.style.transform = `translate(${currentPosition + 100}px)`;
    nextBtn.style.display = "flex";
    changeBtn();
  }

  changeBtn();
</script>

{% schema %}
{
  "name": "Home Slider",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "heading_color",
      "label": "Color Heading"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:settings.color_scheme",
      "default": "scheme-1"
    }
  ],
  "blocks": [
    {
      "type": "block",
      "name": "Collection",
      "settings": [
        {
          "type": "text",
          "id": "collection_name",
          "label": "Collection Name"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Home Slider"
    }
  ]
}
{% endschema %}
