

<cart-items-component
  class="cart-items-component section-{{ section.id }}"
  data-section-id="{{ section.id }}"
>
  <div class="section-background color-{{ section.settings.color_scheme }}"></div>
  <div
    class="section color-{{ section.settings.color_scheme }} section--{{ section.settings.section_width }}"
  >
    <div
      class="cart-page spacing-style{% if cart.empty? %} cart-page--empty{% endif %}"
      style="{% render 'spacing-style', settings: section.settings %}"
    >
      <div class="cart-page__title">
        {%- content_for 'block', id: 'cart-page-title', type: '_cart-title' %}
      </div>
      {%- liquid 
         assign message = settings.shipping_message
         assign total_price = cart.total_price | divided_by: 100.00
         assign shipping_value = settings.shipping_value
         assign credit_value = settings.credit_value
         if total_price < shipping_value
          assign balance = settings.shipping_value | minus: total_price
          assign balance_txt = balance | times: 100.00 | money_with_currency
          assign message = settings.shipping_message | replace: '{PRICE}', balance_txt
         elsif total_price < credit_value
          assign balance = settings.credit_value | minus: total_price
          assign balance_txt = balance | times: 100.00 | money_with_currency
          assign message = settings.credit_message | replace: '{PRICE}', balance_txt
         else
          assign message = settings.complete_message
         endif
         assign progress_value = shipping_value | times: 100 | divided_by: credit_value
      -%}

      {%- unless cart.empty? -%}
      <div class="drawer-progress-bar__wrapper">
        <p id="native-free-shipping-cta">{{ message }}</p>
        <span class="progress-bar">
          <span>$0</span>
          <div style="position: relative">
            <progress id="native-free-shipping-progress-bar" value="{{ total_price }}" max="{{ settings.credit_value }}"></progress>
            <div class="shipping-value" style="left: {{ progress_value }}%;"></div>
            <span style="transform: translate(-50%);left: {{ progress_value }}%;{% if total_price > shipping_value %}color: #f9f9f7;{% endif %}">FREE DELIVERY</span>
            <span style="right: 0;{% if total_price > credit_value %}color: #f9f9f7;{% endif %}">${{ settings.credit_value }} DISCOUNT</span>
          </div>
          <span>$400</span>
        </span>
      </div>
      {%- endunless -%}

      <div class="cart-page__items">
        {%- content_for 'block', id: 'cart-page-items', type: '_cart-products' %}
      </div>

      {% comment %} {% unless cart.empty? %}
        <div class="cart-slider">
          <h2>{{ section.settings.heading }}</h2>
          <div class="cart-swiper">
            <div class="swiper-wrapper">
              {% for product in section.settings.products %}
                <a class="swiper-slide" href="{{ product.url }}">
                  <img src="{{ product.featured_image | img_url: 'master' }}" width="100%" height="100%" alt="collection slider {{ forloop.index }}">
                  {% assign collection = product.collections | first %}
                  <h2>{{- collection.title -}}&nbsp;-&nbsp;{{- product.title -}}</h2>
                  <div class="product-reviews"></div>
                  <div class="product-price">
                      <span class="prices">
                          <span class="sale-price">{{ product.price | money }}</span>
                          <span class="compare-price">{{ product.compare_at_price | money }}</span>
                      </span>
                  </div>
                </a>
              {% endfor %}
            </div>
          </div>
          <div class="cart-swiper-buttons">
              <div class="cart-swiper-button-prev">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <g clip-path="url(#clip0_4030_26868)">
                          <path d="M15 19.5L7.5 12L15 4.5" stroke="#86868B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      </g>
                      <defs>
                          <clipPath id="clip0_4030_26868">
                              <rect width="24" height="24" fill="white"/>
                          </clipPath>
                      </defs>
                  </svg>
              </div>
              <div class="cart-swiper-button-next">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <g clip-path="url(#clip0_4030_26872)">
                          <path d="M9 4.5L16.5 12L9 19.5" stroke="#86868B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      </g>
                      <defs>
                          <clipPath id="clip0_4030_26872">
                              <rect width="24" height="24" fill="white"/>
                          </clipPath>
                      </defs>
                  </svg>
              </div>
          </div>
        </div>
      {% endunless %} {% endcomment %}

      {%- unless cart.empty? -%}
        <div class="cart-page__summary">
          {%- content_for 'block', id: 'cart-page-summary', type: '_cart-summary' -%}
        </div>
      {%- endunless -%}
      
      <div class="cart-page__more-blocks">
        {%- content_for 'blocks' -%}
      </div>
    </div>
  </div>
</cart-items-component>

{% style %}
    .section-{{ section.id }} .cart-slider {
        overflow: hidden;
    }

    .section-{{ section.id }} .cart-slider > h2 {
      font-family: "Sen";
      font-weight: 600;
      font-size: 36px;
      color: #86868b;
      margin: 32px 0;
    }

    .section-{{ section.id }} .cart-swiper {
        overflow: visible;
    }

    .section-{{ section.id }} .swiper-slide {
        display: flex;
        flex-direction: column;
        justify-content: end;
        transition: height 0.5s ease-in-out !important;
        overflow: hidden;
        position: relative;
    }

    .section-{{ section.id }} .swiper-slide h2 {
        padding-top: 24px;
        margin: 0;
        font-family: "Sen";
        font-weight: 600;
        font-size: 22px;
        color: #c1c4c7;
    }

    .section-{{ section.id }} .swiper-slide img {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }
    
    .section-{{ section.id }} .cart-swiper-buttons {
        display: flex;
        margin-top: 64px;
        padding: 0 32px 16px;
        gap: 16px;
        justify-content: flex-end;
    }

    .section-{{ section.id }} .cart-swiper-buttons div {
        position: static;
        width: 48px;
        height: 48px;
        padding: 12px;
        background: rgba(255, 255, 255, 0.05);
    }

    .section-{{ section.id }} .cart-swiper-buttons div:after {
        display: none;
    }

    .section-{{ section.id }} .cart-swiper-buttons div[aria-disabled="true"] {
        opacity: 0.5;
    }

    .section-{{ section.id }} .product-price {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .section-{{ section.id }} .product-price span.prices {
        font-family: "Sen";
        font-weight: 600;
        font-size: 36px;
        color: #c1c4c7
    }
        
    .section-{{ section.id }} .product-price span.compare-price {
        font-size: 22px;
        text-decoration: line-through;
        color: #86868b;
    }

    .section-{{ section.id }} .product-price a {
        background-color: transparent;
        border: none;
        display: flex;
        font-family: "Sen";
        font-weight: 600;
        font-size: 16px;
        color: #c1c4c7;
        border-bottom: 2px solid #444444;
        padding: 0;
        line-height: 250%;
        align-items: center;
        gap: 15px;
    }

    .progress-bar div span {
      position: absolute;
      top: 25px;
      line-height: 1;
      text-align: center;
      font-family: "Sen";
      font-weight: 500;
      font-size: 14px;
      color: #86868b;
    }

    @media screen and (max-width: 1300px) {
      .section-{{ section.id }} .cart-slider > h2 {
        font-size: 22px;
      }

      .progress-bar > div {
        width: calc(100% - 100px);
      }

      #native-free-shipping-progress-bar {
        width: 100% !important;
      }
    }

    @media screen and (max-width: 1025px) {
      .section-{{ section.id }} .swiper-slide img {
        height: 150px;
      }

      .section-{{ section.id }} .slider-header span {
        margin-bottom: 36px;
      }
      
      .section-{{ section.id }} .slider-header h2 {
        font-size: 36px;
      }

      .section-{{ section.id }} .swiper-slide h2 {
        font-size: 16px;
      }

      .section-{{ section.id }} .product-price span.prices {
        font-size: 16px;
      }

      .section-{{ section.id }} .product-price span.compare-price {
        font-size: 14px;
      }
      
      .progress-bar div span {
        display: none;
      }
    }

    @media screen and (max-width: 850px) {
      .progress-bar span {
        display: none;
      }

      .progress-bar > div {
        width: 100%;
      }
    }

    @media screen and (max-width: 750px) {
      .section-{{ section.id }} .cart-swiper-buttons {
        margin-top: 32px;
      }

      .section-{{ section.id }} .cart-swiper-buttons div {
        width: 40px;
        height: 40px;
        padding: 8px;
      }

      .section-{{ section.id }} .slider-header p {
        font-size: 16px;
      }

      .section-{{ section.id }} .swiper-slide h2 {
        font-size: 18px;
      }

      .section-{{ section.id }} .product-price span.prices {
        font-size: 22px;
      }

      .section-{{ section.id }} .product-price span.compare-prices {
        font-size: 19px;
      }
    }
{% endstyle %}

<script>
  const swiper = document.querySelector(".cart-swiper");
  const cartswiper = new Swiper('.cart-swiper', {
    slidesPerView: 2,
    spaceBetween: 10,
    breakpoints: {
      768: {
        slidesPerView: 2.5,
        spaceBetween: 20,
      },
      1025: {
        slidesPerView: 3.5,
        spaceBetween: 30,
      },
    },
    navigation: {
      nextEl: '.cart-swiper-button-next',
      prevEl: '.cart-swiper-button-prev',
    },
  });
</script>

{% stylesheet %}
  .cart-page {
    --cart-font-size--2xs: var(--font-size--2xs);
    --cart-font-size--xs: var(--font-size--xs);
    --cart-font-size--sm: var(--font-size--sm);
    --cart-font-size--md: var(--font-size--md);
    --cart-font-size--2xl: var(--font-size--2xl);

    display: grid;
    grid-template-columns: 1fr;
    gap: 0 var(--padding-5xl);
  }

  .cart-page--empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .cart-page--empty .cart-page__title,
  .cart-page--empty .cart-page__more-blocks {
    margin-top: var(--margin-6xl);
  }

  .cart-page__more-blocks {
    width: 100%;
  }

  .cart-page--empty .cart-title {
    text-align: center;
  }

  .cart-page__main {
    grid-column: 1;
  }

  .cart-page__summary {
    padding-top: var(--padding-xl);
  }

  @media screen and (min-width: 750px) {
    .cart-page {
      grid-template-columns: 1fr min(50vw, var(--sidebar-width));
      grid-template-rows: min-content min-content 1fr;
    }

    .cart-page__summary {
      display: grid;
      height: 100%;
      grid-column: 2;
      grid-row: 1 / -1;
      align-self: stretch;
      padding-top: 0;

      /* needed to support blurred effect from hero section */
      position: relative;
    }

    .section--page-width .cart-page:has(.cart__container--extend) {
      grid-column: 2 / 4;
      grid-template-columns: 1fr minmax(var(--sidebar-width), 440px);
    }

    .cart__container--extend {
      height: 100%;
    }
  }

  @media screen and (min-width: 1400px) {
    .cart-page {
      grid-template-columns: 1fr var(--sidebar-width);
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:names.cart",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "blocks": [
    {
      "type": "@theme"
    },
    {
      "type": "@app"
    },
    {
      "type": "text"
    },
    {
      "type": "icon"
    },
    {
      "type": "image"
    },
    {
      "type": "button"
    },
    {
      "type": "video"
    },
    {
      "type": "group"
    },
    {
      "type": "spacer"
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "section_width",
      "label": "t:settings.width",
      "options": [
        {
          "value": "page-width",
          "label": "t:options.page"
        },
        {
          "value": "full-width",
          "label": "t:options.full"
        }
      ],
      "default": "page-width"
    },
    {
      "type": "product_list",
      "id": "products",
      "label": "Recommend Products"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:settings.color_scheme",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ]
}
{% endschema %}
