{% style %}
    .section-{{ section.id }} {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
    }

    .section-{{ section.id }} .product-info6 {
        display: flex;
        flex-direction: column;
        gap: 80px;
    }

    .section-{{ section.id }} .product-info6-header {
        width: 100%;
        max-width: 1080px;
        padding: 0 32px;
        margin: auto;
    }

    .section-{{ section.id }} .product-info6-header div {
        max-width: 640px;
        {% if section.settings.header_type == "center" %}
            margin: auto;
        {% endif %}
    }

    .section-{{ section.id }} .product-info6-header p {
        font-family: "Sen";
        font-weight: 500;
        font-size: 18px;
        color: #c1c4c7;
        margin: 0;
        {% if section.settings.header_type == "center" %}
            text-align: center;
        {% endif %}
    }

    .section-{{ section.id }} .product-info6-header h2 {
        font-family: "Sen";
        font-weight: 600;
        font-size: 64px;
        color: #f9f9f7;
        line-height: 125%;
        margin: 0;
        {% if section.settings.header_type == "center" %}
            text-align: center;
        {% else %}
            margin-bottom: 48px;
        {% endif %}
    }

    .section-{{ section.id }} .product-info6-header h2:last-child:after {
        content: ".";
        color: #fd3e36;
    }

    .section-{{ section.id }} .product-info6-header span {
        font-family: "Albert Sans";
        font-weight: 400;
        font-size: 18px;
        color: #86868b;
    }
{% endstyle %}

<div class="section-background color-{{ section.settings.color_scheme }}"></div>
<section class="section-{{ section.id }} section section--page-width color-{{ section.settings.color_scheme }}">
    <div class="product-info6">
        <div class="product-info6-header">
            <div>
                <p>{{ section.settings.heading_title }}</p>
                <span>{{ section.settings.heading_content }}</span>
                <span>{{ section.settings.heading_footer }}</span>
            </div>
        </div>
        <div class="product-info6-divs">
            <div class="product-info6-div">
                <div>
                    <span>{{ section.settings.left_title }}</span>
                    <span>{{ section.settings.left_content }}</span>
                </div>
                <img src="{{ section.settings.left_img | img_url: 'master' }}" width="100%" height="100%" alt="">
            </div>
            <div class="product-info6-div">
                <img src="{{ section.settings.left_img | img_url: 'master' }}" width="100%" height="100%" alt="">
                <div>
                    <span>{{ section.settings.left_title }}</span>
                    <span>{{ section.settings.left_content }}</span>
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Product Info6",
    "settings": [
        {
            "type": "text",
            "id": "heading_title",
            "label": "Header Title"
        },
        {
            "type": "richtext",
            "id": "heading_content",
            "label": "Header Content",
        },
        {
            "type": "select",
            "id": "header_type",
            "label": "Header Position",
            "options": [
                {
                    "label": "Left",
                    "value": "left"
                },
                {
                    "label": "Center",
                    "value": "center"
                }
            ]
        },
        {
            "type": "text",
            "id": "heading_footer",
            "label": "Header Footer"
        },
        {
            "type": "image_picker",
            "id": "img",
            "label": "Image",
            "visible_if": "{{ section.settings.image_video == 'image' }}"
        },
        {
            "type": "color_scheme",
            "id": "color_scheme",
            "label": "t:settings.color_scheme",
            "default": "scheme-1"
        },
        {
            "type": "range",
            "id": "padding_top",
            "label": "Padding Top",
            "min": 30,
            "max": 120,
            "step": 2,
            "unit": "px",
            "default": 80
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "label": "Padding Bottom",
            "min": 30,
            "max": 120,
            "step": 2,
            "unit": "px",
            "default": 80,
            "visible_if": "{{ section.settings.footer_state == 'visible' and section.settings.footer_type == 'third' }}"
        },
    ],
    "presets": [
        {
            "name": "Product Info6"
        }
    ]
}
{% endschema %}