{% style %}
    .section-{{ section.id }} {
        background-color: #111111;
        padding: 64px 16px;
    }

    .section-{{ section.id }} .quick-question {
        max-width: 1280px;
        padding: 48px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        border: 1px solid rgba(255, 255, 255, 0.10);
        border-radius: 16px;
        background: linear-gradient(112deg, rgba(255, 255, 255, 0.03) 1.9%, rgba(255, 255, 255, 0.01) 98.1%);
        margin: auto;
    }

    .section-{{ section.id }} .quick-question h2 {
        color: #F9F9F7;
        font-family: "Sen";
        font-weight: 600;
        font-size: 36px;
        text-align: center;
        margin: 0;
        line-height: 135%;
    }

    .section-{{ section.id }} .quick-question .buttons {
        max-width: 280px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin: auto;
    }

    .section-{{ section.id }} .quick-question button {
        display: flex;
        padding: 10px 16px;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        border: 1px solid rgba(255, 255, 255, 0.10);
        font-family: "Sen";
        font-weight: 600;
        font-size: 16px;
        text-transform: uppercase;
    }

    .section-{{ section.id }} .quick-question .quiz {
        color: white;
        border-radius: 4px;
        border: 1px solid rgba(255, 255, 255, 0.10);
        background: var(--Primary-Shade, #CA322B);
    }

    .section-{{ section.id }} .quick-question .most {
        background-color: rgba(253, 62, 54, 0.05);
        color: #F4AFAA;
    }

    @media screen and (max-width: 750px) {
        .section-{{ section.id }} {
            padding: 32px 16px;
        }

        .section-{{ section.id }} .quick-question {
            padding: 32px 16px;
            gap: 32px;
        }

        .section-{{ section.id }} .quick-question h2 {
            color: var(--Default, #F9F9F7);
            text-align: center;
            /* Mobile/H3 */
            font-family: var(--Primary-Font-Family-Heading, Sen);
            font-size: var(--Mobile-Font-Size-H3, 22px);
            font-style: normal;
            font-weight: var(--Primary-Font-Weight-Semibold, 600);
            line-height: 135%; /* 29.7px */
            letter-spacing: -0.11px;
        }

        .section-{{ section.id }} .quick-question button {
            color: #FFF;
            text-align: center;
            /* Mobile/Button Default */
            font-family: var(--Primary-Font-Family-Heading, Sen);
            font-size: var(--Mobile-Font-Size-Button-Default, 14px);
            font-style: normal;
            font-weight: var(--Primary-Font-Weight-Semibold, 600);
            line-height: 17px; /* 121.429% */
            letter-spacing: 0.28px;
            text-transform: uppercase;
        }
    }

    .section-{{ section.id }} .question-modal {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        display: none;
    }

    .section-{{ section.id }} .question-modal-back {
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: rgba(17, 17, 17, 0.50);
        backdrop-filter: blur(4px);
    }

    .section-{{ section.id }} .question-modal-info {
        width: 800px;
        height: 400px;
        padding: 40px 32px;
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: #151515;
        transform: translate(-50%, -50%);
        display: none;
        z-index: 10;
    }

    .section-{{ section.id }} .question-modal-info.active {
        display: block;
    }

    .section-{{ section.id }} .question-modal-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .section-{{ section.id }} .question-modal-header span {
        font-family: "Sen";
        font-weight: 600;
        font-size: 36px;
        color: #86868b;
    }

    .section-{{ section.id }} .question-modal-header svg {
        cursor: pointer;
    }

    .section-{{ section.id }} .question-progress {
        width: 100%;
        height: 3px;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), #56565B;
    }

    .section-{{ section.id }} .question-state {
        height: 3px;
        background: #c1c4c7;
    }

    .section-{{ section.id }} .question-modal-info h2 {
        font-family: "Sen";
        font-weight: 600;
        font-size: 36px;
        line-height: 135%;
        margin: 32px 0;
        color: #f9f9f7;
    }

    .section-{{ section.id }} .question-answers {
        display: flex;
        gap: 16px;
    }

    .section-{{ section.id }} .question-answers button {
        padding: 12px 16px;
        border: 1px solid #56565b;
        font-family: "Albert Sans";
        font-weight: 400;
        font-size: 18px;
        color: #86868b;
        min-width: 320px;
        width: calc(50% - 8px);
        text-align: left;
        background-color: transparent;
        cursor: pointer;
    }
{% endstyle %}

<section class="section-{{ section.id }}">
    <div class="quick-question">
        <h2>{{ section.settings.heading }}</h2>
        <div class="buttons">
            <button class="quiz" onclick="open()">TAKE QUICK QUIZ</button>
            <button class="most">SEE CHEFS LOVE MOST</button>
        </div>
    </div>
    <div class="question-modal">
        <div class="question-modal-back"></div>
        {% for block in section.blocks %}
            <div class="question-modal-info question-modal-info-{{ forloop.index }} {% if forloop.index == 1 %}active{% endif %}">
                <div class="question-modal-header">
                    <span>{{ forloop.index }}/{{ section.blocks.size }}</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none" onclick="close()">
                        <g clip-path="url(#clip0_4592_59391)">
                            <path d="M18.75 5.46875L5.25 19.5312" stroke="#86868B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M18.75 19.5312L5.25 5.46875" stroke="#86868B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <defs>
                            <clipPath id="clip0_4592_59391">
                                <rect width="24" height="25" fill="white"/>
                            </clipPath>
                        </defs>
                    </svg>
                </div>
                {% liquid
                  assign page = forloop.index
                  assign total = section.blocks.size
                  assign progress = page | times: 100 | divided_by: total
                %}
                <div class="question-progress">
                    <div class="question-state" style="width: {{ progress }}%"></div>
                </div>
                <h2>{{ block.settings.question }}</h2>
                <div class="question-answers">
                    <button onclick="next({{ forloop.index }})">{{ block.settings.answer1 }}</button>
                    <button onclick="next({{ forloop.index }})">{{ block.settings.answer2 }}</button>
                </div>
            </div>
        {% endfor %}
    </div>
</section>

<script>
    const close = () => {
        const modal = document.querySelector(".question-modal");
        modal.style.display = "none";
    }

    const open = () => {
        const modal = document.querySelector(".question-modal");
        console.log(modal);
        modal.style.display = "block";
    }

    const next = (num) => {
        const nextModal = document.querySelector(`.question-modal-info-${num}`);
        const modals = document.querySelectorAll(".question-modal-info");
        modals.forEach(modal => {
            modal.classList.remove('.active');
        });
        nextModal.classList.add('.active');
    }
</script>

{% schema %}
{
    "name": "Quick Question",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Heading"
        }
    ],
    "blocks": [
        {
            "type": "question",
            "name": "Question",
            "settings": [
                {
                    "type": "text",
                    "id": "question",
                    "label": "Question"
                },
                {
                    "type": "text",
                    "id": "answer1",
                    "label": "Answer1"
                },
                {
                    "type": "text",
                    "id": "answer2",
                    "label": "Answer2"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Quick Question"
        }
    ]   
}
{% endschema %}